<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.settings.basic.mapper.XmProfileMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmProfile" >
    <id column="profileid" property="profileid" jdbcType="INTEGER" />
    <result column="profilename" property="profilename" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.crm.model.XmProfile" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    profileid, profilename
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xm_profile
    where profileid = #{profileid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_profile
    where profileid = #{profileid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmProfile" >
    insert into xm_profile (profileid, profilename, description
      )
    values (#{profileid,jdbcType=INTEGER}, #{profilename,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmProfile" >
    insert into xm_profile
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="profileid != null" >
        profileid,
      </if>
      <if test="profilename != null" >
        profilename,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="profileid != null" >
        #{profileid,jdbcType=INTEGER},
      </if>
      <if test="profilename != null" >
        #{profilename,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmProfile" >
    update xm_profile
    <set >
      <if test="profilename != null" >
        profilename = #{profilename,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where profileid = #{profileid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.crm.model.XmProfile" >
    update xm_profile
    set profilename = #{profilename,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where profileid = #{profileid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmProfile" >
    update xm_profile
    set profilename = #{profilename,jdbcType=VARCHAR}
    where profileid = #{profileid,jdbcType=INTEGER}
  </update>
</mapper>