<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.settings.basic.mapper.XmUsersMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmUsers" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_hash" property="userHash" jdbcType="VARCHAR" />
    <result column="cal_color" property="calColor" jdbcType="VARCHAR" />
    <result column="first_name" property="firstName" jdbcType="VARCHAR" />
    <result column="last_name" property="lastName" jdbcType="VARCHAR" />
    <result column="reports_to_id" property="reportsToId" jdbcType="VARCHAR" />
    <result column="is_admin" property="isAdmin" jdbcType="VARCHAR" />
    <result column="currency_id" property="currencyId" jdbcType="INTEGER" />
    <result column="date_entered" property="dateEntered" jdbcType="TIMESTAMP" />
    <result column="date_modified" property="dateModified" jdbcType="TIMESTAMP" />
    <result column="modified_user_id" property="modifiedUserId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="phone_home" property="phoneHome" jdbcType="VARCHAR" />
    <result column="phone_mobile" property="phoneMobile" jdbcType="VARCHAR" />
    <result column="phone_work" property="phoneWork" jdbcType="VARCHAR" />
    <result column="phone_other" property="phoneOther" jdbcType="VARCHAR" />
    <result column="phone_fax" property="phoneFax" jdbcType="VARCHAR" />
    <result column="email1" property="email1" jdbcType="VARCHAR" />
    <result column="email2" property="email2" jdbcType="VARCHAR" />
    <result column="yahoo_id" property="yahooId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="address_street" property="addressStreet" jdbcType="VARCHAR" />
    <result column="address_city" property="addressCity" jdbcType="VARCHAR" />
    <result column="address_state" property="addressState" jdbcType="VARCHAR" />
    <result column="address_country" property="addressCountry" jdbcType="VARCHAR" />
    <result column="address_postalcode" property="addressPostalcode" jdbcType="VARCHAR" />
    <result column="tz" property="tz" jdbcType="VARCHAR" />
    <result column="holidays" property="holidays" jdbcType="VARCHAR" />
    <result column="namedays" property="namedays" jdbcType="VARCHAR" />
    <result column="workdays" property="workdays" jdbcType="VARCHAR" />
    <result column="weekstart" property="weekstart" jdbcType="INTEGER" />
    <result column="date_format" property="dateFormat" jdbcType="VARCHAR" />
    <result column="hour_format" property="hourFormat" jdbcType="VARCHAR" />
    <result column="start_hour" property="startHour" jdbcType="VARCHAR" />
    <result column="end_hour" property="endHour" jdbcType="VARCHAR" />
    <result column="homeorder" property="homeorder" jdbcType="VARCHAR" />
    <result column="activity_view" property="activityView" jdbcType="VARCHAR" />
    <result column="lead_view" property="leadView" jdbcType="VARCHAR" />
    <result column="imagename" property="imagename" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="defhomeview" property="defhomeview" jdbcType="VARCHAR" />
    <result column="confirm_password" property="confirmPassword" jdbcType="VARCHAR" />
    <result column="is_online" property="isOnline" jdbcType="INTEGER" />
    <result column="last_ping" property="lastPing" jdbcType="VARCHAR" />
    <result column="prefix" property="prefix" jdbcType="VARCHAR" />
    <result column="poolsstatus" property="poolsstatus" jdbcType="INTEGER" />
    <result column="stuffid" property="stuffid" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="user_preferences" property="userPreferences" jdbcType="LONGVARCHAR" />
    <result column="buddylist" property="buddylist" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, user_password, user_hash, cal_color, first_name, last_name, reports_to_id, 
    is_admin, currency_id, date_entered, date_modified, modified_user_id, title, department, 
    phone_home, phone_mobile, phone_work, phone_other, phone_fax, email1, email2, yahoo_id, 
    status, signature, address_street, address_city, address_state, address_country, 
    address_postalcode, tz, holidays, namedays, workdays, weekstart, date_format, hour_format, 
    start_hour, end_hour, homeorder, activity_view, lead_view, imagename, deleted, defhomeview, 
    confirm_password, is_online, last_ping, prefix, poolsstatus, stuffid
  </sql>
  <sql id="Blob_Column_List" >
    description, user_preferences, buddylist
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xm_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmUsers" >
    insert into xm_users (id, user_name, user_password, 
      user_hash, cal_color, first_name, 
      last_name, reports_to_id, is_admin, 
      currency_id, date_entered, date_modified, 
      modified_user_id, title, department, 
      phone_home, phone_mobile, phone_work, 
      phone_other, phone_fax, email1, 
      email2, yahoo_id, status, 
      signature, address_street, address_city, 
      address_state, address_country, address_postalcode, 
      tz, holidays, namedays, 
      workdays, weekstart, date_format, 
      hour_format, start_hour, end_hour, 
      homeorder, activity_view, lead_view, 
      imagename, deleted, defhomeview, 
      confirm_password, is_online, last_ping, 
      prefix, poolsstatus, stuffid, 
      description, user_preferences, buddylist
      )
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userHash,jdbcType=VARCHAR}, #{calColor,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, 
      #{lastName,jdbcType=VARCHAR}, #{reportsToId,jdbcType=VARCHAR}, #{isAdmin,jdbcType=VARCHAR}, 
      #{currencyId,jdbcType=INTEGER}, #{dateEntered,jdbcType=TIMESTAMP}, #{dateModified,jdbcType=TIMESTAMP}, 
      #{modifiedUserId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{phoneHome,jdbcType=VARCHAR}, #{phoneMobile,jdbcType=VARCHAR}, #{phoneWork,jdbcType=VARCHAR}, 
      #{phoneOther,jdbcType=VARCHAR}, #{phoneFax,jdbcType=VARCHAR}, #{email1,jdbcType=VARCHAR}, 
      #{email2,jdbcType=VARCHAR}, #{yahooId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{signature,jdbcType=VARCHAR}, #{addressStreet,jdbcType=VARCHAR}, #{addressCity,jdbcType=VARCHAR}, 
      #{addressState,jdbcType=VARCHAR}, #{addressCountry,jdbcType=VARCHAR}, #{addressPostalcode,jdbcType=VARCHAR}, 
      #{tz,jdbcType=VARCHAR}, #{holidays,jdbcType=VARCHAR}, #{namedays,jdbcType=VARCHAR}, 
      #{workdays,jdbcType=VARCHAR}, #{weekstart,jdbcType=INTEGER}, #{dateFormat,jdbcType=VARCHAR}, 
      #{hourFormat,jdbcType=VARCHAR}, #{startHour,jdbcType=VARCHAR}, #{endHour,jdbcType=VARCHAR}, 
      #{homeorder,jdbcType=VARCHAR}, #{activityView,jdbcType=VARCHAR}, #{leadView,jdbcType=VARCHAR}, 
      #{imagename,jdbcType=VARCHAR}, #{deleted,jdbcType=INTEGER}, #{defhomeview,jdbcType=VARCHAR}, 
      #{confirmPassword,jdbcType=VARCHAR}, #{isOnline,jdbcType=INTEGER}, #{lastPing,jdbcType=VARCHAR}, 
      #{prefix,jdbcType=VARCHAR}, #{poolsstatus,jdbcType=INTEGER}, #{stuffid,jdbcType=INTEGER}, 
      #{description,jdbcType=LONGVARCHAR}, #{userPreferences,jdbcType=LONGVARCHAR}, #{buddylist,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmUsers" >
    insert into xm_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userHash != null" >
        user_hash,
      </if>
      <if test="calColor != null" >
        cal_color,
      </if>
      <if test="firstName != null" >
        first_name,
      </if>
      <if test="lastName != null" >
        last_name,
      </if>
      <if test="reportsToId != null" >
        reports_to_id,
      </if>
      <if test="isAdmin != null" >
        is_admin,
      </if>
      <if test="currencyId != null" >
        currency_id,
      </if>
      <if test="dateEntered != null" >
        date_entered,
      </if>
      <if test="dateModified != null" >
        date_modified,
      </if>
      <if test="modifiedUserId != null" >
        modified_user_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="phoneHome != null" >
        phone_home,
      </if>
      <if test="phoneMobile != null" >
        phone_mobile,
      </if>
      <if test="phoneWork != null" >
        phone_work,
      </if>
      <if test="phoneOther != null" >
        phone_other,
      </if>
      <if test="phoneFax != null" >
        phone_fax,
      </if>
      <if test="email1 != null" >
        email1,
      </if>
      <if test="email2 != null" >
        email2,
      </if>
      <if test="yahooId != null" >
        yahoo_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="addressStreet != null" >
        address_street,
      </if>
      <if test="addressCity != null" >
        address_city,
      </if>
      <if test="addressState != null" >
        address_state,
      </if>
      <if test="addressCountry != null" >
        address_country,
      </if>
      <if test="addressPostalcode != null" >
        address_postalcode,
      </if>
      <if test="tz != null" >
        tz,
      </if>
      <if test="holidays != null" >
        holidays,
      </if>
      <if test="namedays != null" >
        namedays,
      </if>
      <if test="workdays != null" >
        workdays,
      </if>
      <if test="weekstart != null" >
        weekstart,
      </if>
      <if test="dateFormat != null" >
        date_format,
      </if>
      <if test="hourFormat != null" >
        hour_format,
      </if>
      <if test="startHour != null" >
        start_hour,
      </if>
      <if test="endHour != null" >
        end_hour,
      </if>
      <if test="homeorder != null" >
        homeorder,
      </if>
      <if test="activityView != null" >
        activity_view,
      </if>
      <if test="leadView != null" >
        lead_view,
      </if>
      <if test="imagename != null" >
        imagename,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="defhomeview != null" >
        defhomeview,
      </if>
      <if test="confirmPassword != null" >
        confirm_password,
      </if>
      <if test="isOnline != null" >
        is_online,
      </if>
      <if test="lastPing != null" >
        last_ping,
      </if>
      <if test="prefix != null" >
        prefix,
      </if>
      <if test="poolsstatus != null" >
        poolsstatus,
      </if>
      <if test="stuffid != null" >
        stuffid,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="userPreferences != null" >
        user_preferences,
      </if>
      <if test="buddylist != null" >
        buddylist,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userHash != null" >
        #{userHash,jdbcType=VARCHAR},
      </if>
      <if test="calColor != null" >
        #{calColor,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null" >
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null" >
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="reportsToId != null" >
        #{reportsToId,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null" >
        #{isAdmin,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null" >
        #{currencyId,jdbcType=INTEGER},
      </if>
      <if test="dateEntered != null" >
        #{dateEntered,jdbcType=TIMESTAMP},
      </if>
      <if test="dateModified != null" >
        #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null" >
        #{modifiedUserId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="phoneHome != null" >
        #{phoneHome,jdbcType=VARCHAR},
      </if>
      <if test="phoneMobile != null" >
        #{phoneMobile,jdbcType=VARCHAR},
      </if>
      <if test="phoneWork != null" >
        #{phoneWork,jdbcType=VARCHAR},
      </if>
      <if test="phoneOther != null" >
        #{phoneOther,jdbcType=VARCHAR},
      </if>
      <if test="phoneFax != null" >
        #{phoneFax,jdbcType=VARCHAR},
      </if>
      <if test="email1 != null" >
        #{email1,jdbcType=VARCHAR},
      </if>
      <if test="email2 != null" >
        #{email2,jdbcType=VARCHAR},
      </if>
      <if test="yahooId != null" >
        #{yahooId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="addressStreet != null" >
        #{addressStreet,jdbcType=VARCHAR},
      </if>
      <if test="addressCity != null" >
        #{addressCity,jdbcType=VARCHAR},
      </if>
      <if test="addressState != null" >
        #{addressState,jdbcType=VARCHAR},
      </if>
      <if test="addressCountry != null" >
        #{addressCountry,jdbcType=VARCHAR},
      </if>
      <if test="addressPostalcode != null" >
        #{addressPostalcode,jdbcType=VARCHAR},
      </if>
      <if test="tz != null" >
        #{tz,jdbcType=VARCHAR},
      </if>
      <if test="holidays != null" >
        #{holidays,jdbcType=VARCHAR},
      </if>
      <if test="namedays != null" >
        #{namedays,jdbcType=VARCHAR},
      </if>
      <if test="workdays != null" >
        #{workdays,jdbcType=VARCHAR},
      </if>
      <if test="weekstart != null" >
        #{weekstart,jdbcType=INTEGER},
      </if>
      <if test="dateFormat != null" >
        #{dateFormat,jdbcType=VARCHAR},
      </if>
      <if test="hourFormat != null" >
        #{hourFormat,jdbcType=VARCHAR},
      </if>
      <if test="startHour != null" >
        #{startHour,jdbcType=VARCHAR},
      </if>
      <if test="endHour != null" >
        #{endHour,jdbcType=VARCHAR},
      </if>
      <if test="homeorder != null" >
        #{homeorder,jdbcType=VARCHAR},
      </if>
      <if test="activityView != null" >
        #{activityView,jdbcType=VARCHAR},
      </if>
      <if test="leadView != null" >
        #{leadView,jdbcType=VARCHAR},
      </if>
      <if test="imagename != null" >
        #{imagename,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="defhomeview != null" >
        #{defhomeview,jdbcType=VARCHAR},
      </if>
      <if test="confirmPassword != null" >
        #{confirmPassword,jdbcType=VARCHAR},
      </if>
      <if test="isOnline != null" >
        #{isOnline,jdbcType=INTEGER},
      </if>
      <if test="lastPing != null" >
        #{lastPing,jdbcType=VARCHAR},
      </if>
      <if test="prefix != null" >
        #{prefix,jdbcType=VARCHAR},
      </if>
      <if test="poolsstatus != null" >
        #{poolsstatus,jdbcType=INTEGER},
      </if>
      <if test="stuffid != null" >
        #{stuffid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="userPreferences != null" >
        #{userPreferences,jdbcType=LONGVARCHAR},
      </if>
      <if test="buddylist != null" >
        #{buddylist,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmUsers" >
    update xm_users
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userHash != null" >
        user_hash = #{userHash,jdbcType=VARCHAR},
      </if>
      <if test="calColor != null" >
        cal_color = #{calColor,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null" >
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null" >
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="reportsToId != null" >
        reports_to_id = #{reportsToId,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null" >
        is_admin = #{isAdmin,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null" >
        currency_id = #{currencyId,jdbcType=INTEGER},
      </if>
      <if test="dateEntered != null" >
        date_entered = #{dateEntered,jdbcType=TIMESTAMP},
      </if>
      <if test="dateModified != null" >
        date_modified = #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUserId != null" >
        modified_user_id = #{modifiedUserId,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="phoneHome != null" >
        phone_home = #{phoneHome,jdbcType=VARCHAR},
      </if>
      <if test="phoneMobile != null" >
        phone_mobile = #{phoneMobile,jdbcType=VARCHAR},
      </if>
      <if test="phoneWork != null" >
        phone_work = #{phoneWork,jdbcType=VARCHAR},
      </if>
      <if test="phoneOther != null" >
        phone_other = #{phoneOther,jdbcType=VARCHAR},
      </if>
      <if test="phoneFax != null" >
        phone_fax = #{phoneFax,jdbcType=VARCHAR},
      </if>
      <if test="email1 != null" >
        email1 = #{email1,jdbcType=VARCHAR},
      </if>
      <if test="email2 != null" >
        email2 = #{email2,jdbcType=VARCHAR},
      </if>
      <if test="yahooId != null" >
        yahoo_id = #{yahooId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="addressStreet != null" >
        address_street = #{addressStreet,jdbcType=VARCHAR},
      </if>
      <if test="addressCity != null" >
        address_city = #{addressCity,jdbcType=VARCHAR},
      </if>
      <if test="addressState != null" >
        address_state = #{addressState,jdbcType=VARCHAR},
      </if>
      <if test="addressCountry != null" >
        address_country = #{addressCountry,jdbcType=VARCHAR},
      </if>
      <if test="addressPostalcode != null" >
        address_postalcode = #{addressPostalcode,jdbcType=VARCHAR},
      </if>
      <if test="tz != null" >
        tz = #{tz,jdbcType=VARCHAR},
      </if>
      <if test="holidays != null" >
        holidays = #{holidays,jdbcType=VARCHAR},
      </if>
      <if test="namedays != null" >
        namedays = #{namedays,jdbcType=VARCHAR},
      </if>
      <if test="workdays != null" >
        workdays = #{workdays,jdbcType=VARCHAR},
      </if>
      <if test="weekstart != null" >
        weekstart = #{weekstart,jdbcType=INTEGER},
      </if>
      <if test="dateFormat != null" >
        date_format = #{dateFormat,jdbcType=VARCHAR},
      </if>
      <if test="hourFormat != null" >
        hour_format = #{hourFormat,jdbcType=VARCHAR},
      </if>
      <if test="startHour != null" >
        start_hour = #{startHour,jdbcType=VARCHAR},
      </if>
      <if test="endHour != null" >
        end_hour = #{endHour,jdbcType=VARCHAR},
      </if>
      <if test="homeorder != null" >
        homeorder = #{homeorder,jdbcType=VARCHAR},
      </if>
      <if test="activityView != null" >
        activity_view = #{activityView,jdbcType=VARCHAR},
      </if>
      <if test="leadView != null" >
        lead_view = #{leadView,jdbcType=VARCHAR},
      </if>
      <if test="imagename != null" >
        imagename = #{imagename,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="defhomeview != null" >
        defhomeview = #{defhomeview,jdbcType=VARCHAR},
      </if>
      <if test="confirmPassword != null" >
        confirm_password = #{confirmPassword,jdbcType=VARCHAR},
      </if>
      <if test="isOnline != null" >
        is_online = #{isOnline,jdbcType=INTEGER},
      </if>
      <if test="lastPing != null" >
        last_ping = #{lastPing,jdbcType=VARCHAR},
      </if>
      <if test="prefix != null" >
        prefix = #{prefix,jdbcType=VARCHAR},
      </if>
      <if test="poolsstatus != null" >
        poolsstatus = #{poolsstatus,jdbcType=INTEGER},
      </if>
      <if test="stuffid != null" >
        stuffid = #{stuffid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="userPreferences != null" >
        user_preferences = #{userPreferences,jdbcType=LONGVARCHAR},
      </if>
      <if test="buddylist != null" >
        buddylist = #{buddylist,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.crm.model.XmUsers" >
    update xm_users
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_hash = #{userHash,jdbcType=VARCHAR},
      cal_color = #{calColor,jdbcType=VARCHAR},
      first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      reports_to_id = #{reportsToId,jdbcType=VARCHAR},
      is_admin = #{isAdmin,jdbcType=VARCHAR},
      currency_id = #{currencyId,jdbcType=INTEGER},
      date_entered = #{dateEntered,jdbcType=TIMESTAMP},
      date_modified = #{dateModified,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      phone_home = #{phoneHome,jdbcType=VARCHAR},
      phone_mobile = #{phoneMobile,jdbcType=VARCHAR},
      phone_work = #{phoneWork,jdbcType=VARCHAR},
      phone_other = #{phoneOther,jdbcType=VARCHAR},
      phone_fax = #{phoneFax,jdbcType=VARCHAR},
      email1 = #{email1,jdbcType=VARCHAR},
      email2 = #{email2,jdbcType=VARCHAR},
      yahoo_id = #{yahooId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      address_street = #{addressStreet,jdbcType=VARCHAR},
      address_city = #{addressCity,jdbcType=VARCHAR},
      address_state = #{addressState,jdbcType=VARCHAR},
      address_country = #{addressCountry,jdbcType=VARCHAR},
      address_postalcode = #{addressPostalcode,jdbcType=VARCHAR},
      tz = #{tz,jdbcType=VARCHAR},
      holidays = #{holidays,jdbcType=VARCHAR},
      namedays = #{namedays,jdbcType=VARCHAR},
      workdays = #{workdays,jdbcType=VARCHAR},
      weekstart = #{weekstart,jdbcType=INTEGER},
      date_format = #{dateFormat,jdbcType=VARCHAR},
      hour_format = #{hourFormat,jdbcType=VARCHAR},
      start_hour = #{startHour,jdbcType=VARCHAR},
      end_hour = #{endHour,jdbcType=VARCHAR},
      homeorder = #{homeorder,jdbcType=VARCHAR},
      activity_view = #{activityView,jdbcType=VARCHAR},
      lead_view = #{leadView,jdbcType=VARCHAR},
      imagename = #{imagename,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER},
      defhomeview = #{defhomeview,jdbcType=VARCHAR},
      confirm_password = #{confirmPassword,jdbcType=VARCHAR},
      is_online = #{isOnline,jdbcType=INTEGER},
      last_ping = #{lastPing,jdbcType=VARCHAR},
      prefix = #{prefix,jdbcType=VARCHAR},
      poolsstatus = #{poolsstatus,jdbcType=INTEGER},
      stuffid = #{stuffid,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR},
      user_preferences = #{userPreferences,jdbcType=LONGVARCHAR},
      buddylist = #{buddylist,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmUsers" >
    update xm_users
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_hash = #{userHash,jdbcType=VARCHAR},
      cal_color = #{calColor,jdbcType=VARCHAR},
      first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      reports_to_id = #{reportsToId,jdbcType=VARCHAR},
      is_admin = #{isAdmin,jdbcType=VARCHAR},
      currency_id = #{currencyId,jdbcType=INTEGER},
      date_entered = #{dateEntered,jdbcType=TIMESTAMP},
      date_modified = #{dateModified,jdbcType=TIMESTAMP},
      modified_user_id = #{modifiedUserId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      phone_home = #{phoneHome,jdbcType=VARCHAR},
      phone_mobile = #{phoneMobile,jdbcType=VARCHAR},
      phone_work = #{phoneWork,jdbcType=VARCHAR},
      phone_other = #{phoneOther,jdbcType=VARCHAR},
      phone_fax = #{phoneFax,jdbcType=VARCHAR},
      email1 = #{email1,jdbcType=VARCHAR},
      email2 = #{email2,jdbcType=VARCHAR},
      yahoo_id = #{yahooId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      address_street = #{addressStreet,jdbcType=VARCHAR},
      address_city = #{addressCity,jdbcType=VARCHAR},
      address_state = #{addressState,jdbcType=VARCHAR},
      address_country = #{addressCountry,jdbcType=VARCHAR},
      address_postalcode = #{addressPostalcode,jdbcType=VARCHAR},
      tz = #{tz,jdbcType=VARCHAR},
      holidays = #{holidays,jdbcType=VARCHAR},
      namedays = #{namedays,jdbcType=VARCHAR},
      workdays = #{workdays,jdbcType=VARCHAR},
      weekstart = #{weekstart,jdbcType=INTEGER},
      date_format = #{dateFormat,jdbcType=VARCHAR},
      hour_format = #{hourFormat,jdbcType=VARCHAR},
      start_hour = #{startHour,jdbcType=VARCHAR},
      end_hour = #{endHour,jdbcType=VARCHAR},
      homeorder = #{homeorder,jdbcType=VARCHAR},
      activity_view = #{activityView,jdbcType=VARCHAR},
      lead_view = #{leadView,jdbcType=VARCHAR},
      imagename = #{imagename,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER},
      defhomeview = #{defhomeview,jdbcType=VARCHAR},
      confirm_password = #{confirmPassword,jdbcType=VARCHAR},
      is_online = #{isOnline,jdbcType=INTEGER},
      last_ping = #{lastPing,jdbcType=VARCHAR},
      prefix = #{prefix,jdbcType=VARCHAR},
      poolsstatus = #{poolsstatus,jdbcType=INTEGER},
      stuffid = #{stuffid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getSysUser" resultType="map" >
  	SELECT
		id,
		last_name,
		user_name,
		xm_role.roleid,
		xm_role.rolename,
		xm_groups.groupid,
		xm_groups.groupname,
		`status`,
		is_admin,
		email1,
		phone_work
	FROM
		xm_users
	LEFT JOIN xm_user2role ON xm_user2role.userid = xm_users.id
	LEFT JOIN xm_role ON xm_role.roleid = xm_user2role.roleid
	LEFT JOIN xm_users2group ON xm_users2group.userid = xm_users.id
	LEFT JOIN xm_groups ON xm_groups.groupid = xm_users2group.groupid
	WHERE
		deleted = 0
	ORDER BY
		last_name ASC 
	limit #{start},#{rows}
  </select>
  <select id="getTotal" resultType="Integer">
  	SELECT
		count(id) 
	FROM
		xm_users
	LEFT JOIN xm_user2role ON xm_user2role.userid = xm_users.id
	LEFT JOIN xm_role ON xm_role.roleid = xm_user2role.roleid
	LEFT JOIN xm_users2group ON xm_users2group.userid = xm_users.id
	LEFT JOIN xm_groups ON xm_groups.groupid = xm_users2group.groupid
	WHERE
		deleted = 0
  </select>
  <select id="getActiveUser" resultMap="BaseResultMap" >
  	select * from xm_users where deleted=0 and status='Active' order by prefix;
  </select>
</mapper>