<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.module.XmAccountrecordssMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmAccountrecordss" >
    <id column="accountrecordssid" property="accountrecordssid" jdbcType="INTEGER" />
    <result column="accountrecords590" property="accountrecords590" jdbcType="VARCHAR" />
    <result column="accountrecords588" property="accountrecords588" jdbcType="VARCHAR" />
    <result column="accountrecords586" property="accountrecords586" jdbcType="VARCHAR" />
    <result column="accountrecords584" property="accountrecords584" jdbcType="DATE" />
    <result column="accountrecords582" property="accountrecords582" jdbcType="VARCHAR" />
    <result column="accountrecords580" property="accountrecords580" jdbcType="VARCHAR" />
    <result column="inboundsearchsid" property="inboundsearchsid" jdbcType="INTEGER" />
    <result column="contact_id" property="contactId" jdbcType="INTEGER" />
    <result column="accountrecordsname" property="accountrecordsname" jdbcType="VARCHAR" />
    <result column="accountid" property="accountid" jdbcType="INTEGER" />
    <result column="smcreatorid" property="smcreatorid" jdbcType="INTEGER" />
    <result column="smownerid" property="smownerid" jdbcType="INTEGER" />
    <result column="modifiedby" property="modifiedby" jdbcType="INTEGER" />
    <result column="groupid" property="groupid" jdbcType="INTEGER" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="modifiedtime" property="modifiedtime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="approved" property="approved" jdbcType="INTEGER" />
    <result column="approvedby" property="approvedby" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.crm.model.XmAccountrecordss" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="accountrecords596" property="accountrecords596" jdbcType="LONGVARCHAR" />
    <result column="accountrecords592" property="accountrecords592" jdbcType="LONGVARCHAR" />
    <result column="accountrecords594" property="accountrecords594" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    accountrecordssid, accountrecords590, accountrecords588, accountrecords586, accountrecords584, 
    accountrecords582, accountrecords580, inboundsearchsid, contact_id, accountrecordsname, 
    accountid, smcreatorid, smownerid, modifiedby, groupid, createdtime, modifiedtime, 
    deleted, approved, approvedby
  </sql>
  <sql id="Blob_Column_List" >
    description, accountrecords596, accountrecords592, accountrecords594
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xm_accountrecordss
    where accountrecordssid = #{accountrecordssid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_accountrecordss
    where accountrecordssid = #{accountrecordssid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmAccountrecordss" >
    insert into xm_accountrecordss (accountrecordssid, accountrecords590, 
      accountrecords588, accountrecords586, accountrecords584, 
      accountrecords582, accountrecords580, inboundsearchsid, 
      contact_id, accountrecordsname, accountid, 
      smcreatorid, smownerid, modifiedby, 
      groupid, createdtime, modifiedtime, 
      deleted, approved, approvedby, 
      description, accountrecords596, 
      accountrecords592, accountrecords594
      )
    values (#{accountrecordssid,jdbcType=INTEGER}, #{accountrecords590,jdbcType=VARCHAR}, 
      #{accountrecords588,jdbcType=VARCHAR}, #{accountrecords586,jdbcType=VARCHAR}, #{accountrecords584,jdbcType=DATE}, 
      #{accountrecords582,jdbcType=VARCHAR}, #{accountrecords580,jdbcType=VARCHAR}, #{inboundsearchsid,jdbcType=INTEGER}, 
      #{contactId,jdbcType=INTEGER}, #{accountrecordsname,jdbcType=VARCHAR}, #{accountid,jdbcType=INTEGER}, 
      #{smcreatorid,jdbcType=INTEGER}, #{smownerid,jdbcType=INTEGER}, #{modifiedby,jdbcType=INTEGER}, 
      #{groupid,jdbcType=INTEGER}, #{createdtime,jdbcType=TIMESTAMP}, #{modifiedtime,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=INTEGER}, #{approved,jdbcType=INTEGER}, #{approvedby,jdbcType=INTEGER}, 
      #{description,jdbcType=LONGVARCHAR}, #{accountrecords596,jdbcType=LONGVARCHAR}, 
      #{accountrecords592,jdbcType=LONGVARCHAR}, #{accountrecords594,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmAccountrecordss" >
    insert into xm_accountrecordss
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountrecordssid != null" >
        accountrecordssid,
      </if>
      <if test="accountrecords590 != null" >
        accountrecords590,
      </if>
      <if test="accountrecords588 != null" >
        accountrecords588,
      </if>
      <if test="accountrecords586 != null" >
        accountrecords586,
      </if>
      <if test="accountrecords584 != null" >
        accountrecords584,
      </if>
      <if test="accountrecords582 != null" >
        accountrecords582,
      </if>
      <if test="accountrecords580 != null" >
        accountrecords580,
      </if>
      <if test="inboundsearchsid != null" >
        inboundsearchsid,
      </if>
      <if test="contactId != null" >
        contact_id,
      </if>
      <if test="accountrecordsname != null" >
        accountrecordsname,
      </if>
      <if test="accountid != null" >
        accountid,
      </if>
      <if test="smcreatorid != null" >
        smcreatorid,
      </if>
      <if test="smownerid != null" >
        smownerid,
      </if>
      <if test="modifiedby != null" >
        modifiedby,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="createdtime != null" >
        createdtime,
      </if>
      <if test="modifiedtime != null" >
        modifiedtime,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="approved != null" >
        approved,
      </if>
      <if test="approvedby != null" >
        approvedby,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="accountrecords596 != null" >
        accountrecords596,
      </if>
      <if test="accountrecords592 != null" >
        accountrecords592,
      </if>
      <if test="accountrecords594 != null" >
        accountrecords594,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountrecordssid != null" >
        #{accountrecordssid,jdbcType=INTEGER},
      </if>
      <if test="accountrecords590 != null" >
        #{accountrecords590,jdbcType=VARCHAR},
      </if>
      <if test="accountrecords588 != null" >
        #{accountrecords588,jdbcType=VARCHAR},
      </if>
      <if test="accountrecords586 != null" >
        #{accountrecords586,jdbcType=VARCHAR},
      </if>
      <if test="accountrecords584 != null" >
        #{accountrecords584,jdbcType=DATE},
      </if>
      <if test="accountrecords582 != null" >
        #{accountrecords582,jdbcType=VARCHAR},
      </if>
      <if test="accountrecords580 != null" >
        #{accountrecords580,jdbcType=VARCHAR},
      </if>
      <if test="inboundsearchsid != null" >
        #{inboundsearchsid,jdbcType=INTEGER},
      </if>
      <if test="contactId != null" >
        #{contactId,jdbcType=INTEGER},
      </if>
      <if test="accountrecordsname != null" >
        #{accountrecordsname,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null" >
        #{accountid,jdbcType=INTEGER},
      </if>
      <if test="smcreatorid != null" >
        #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="smownerid != null" >
        #{smownerid,jdbcType=INTEGER},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="approved != null" >
        #{approved,jdbcType=INTEGER},
      </if>
      <if test="approvedby != null" >
        #{approvedby,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="accountrecords596 != null" >
        #{accountrecords596,jdbcType=LONGVARCHAR},
      </if>
      <if test="accountrecords592 != null" >
        #{accountrecords592,jdbcType=LONGVARCHAR},
      </if>
      <if test="accountrecords594 != null" >
        #{accountrecords594,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmAccountrecordss" >
    update xm_accountrecordss
    <set >
      <if test="accountrecords590 != null" >
        accountrecords590 = #{accountrecords590,jdbcType=VARCHAR},
      </if>
      <if test="accountrecords588 != null" >
        accountrecords588 = #{accountrecords588,jdbcType=VARCHAR},
      </if>
      <if test="accountrecords586 != null" >
        accountrecords586 = #{accountrecords586,jdbcType=VARCHAR},
      </if>
      <if test="accountrecords584 != null" >
        accountrecords584 = #{accountrecords584,jdbcType=DATE},
      </if>
      <if test="accountrecords582 != null" >
        accountrecords582 = #{accountrecords582,jdbcType=VARCHAR},
      </if>
      <if test="accountrecords580 != null" >
        accountrecords580 = #{accountrecords580,jdbcType=VARCHAR},
      </if>
      <if test="inboundsearchsid != null" >
        inboundsearchsid = #{inboundsearchsid,jdbcType=INTEGER},
      </if>
      <if test="contactId != null" >
        contact_id = #{contactId,jdbcType=INTEGER},
      </if>
      <if test="accountrecordsname != null" >
        accountrecordsname = #{accountrecordsname,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null" >
        accountid = #{accountid,jdbcType=INTEGER},
      </if>
      <if test="smcreatorid != null" >
        smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="smownerid != null" >
        smownerid = #{smownerid,jdbcType=INTEGER},
      </if>
      <if test="modifiedby != null" >
        modifiedby = #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        createdtime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="approved != null" >
        approved = #{approved,jdbcType=INTEGER},
      </if>
      <if test="approvedby != null" >
        approvedby = #{approvedby,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="accountrecords596 != null" >
        accountrecords596 = #{accountrecords596,jdbcType=LONGVARCHAR},
      </if>
      <if test="accountrecords592 != null" >
        accountrecords592 = #{accountrecords592,jdbcType=LONGVARCHAR},
      </if>
      <if test="accountrecords594 != null" >
        accountrecords594 = #{accountrecords594,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where accountrecordssid = #{accountrecordssid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.crm.model.XmAccountrecordss" >
    update xm_accountrecordss
    set accountrecords590 = #{accountrecords590,jdbcType=VARCHAR},
      accountrecords588 = #{accountrecords588,jdbcType=VARCHAR},
      accountrecords586 = #{accountrecords586,jdbcType=VARCHAR},
      accountrecords584 = #{accountrecords584,jdbcType=DATE},
      accountrecords582 = #{accountrecords582,jdbcType=VARCHAR},
      accountrecords580 = #{accountrecords580,jdbcType=VARCHAR},
      inboundsearchsid = #{inboundsearchsid,jdbcType=INTEGER},
      contact_id = #{contactId,jdbcType=INTEGER},
      accountrecordsname = #{accountrecordsname,jdbcType=VARCHAR},
      accountid = #{accountid,jdbcType=INTEGER},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      smownerid = #{smownerid,jdbcType=INTEGER},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      approved = #{approved,jdbcType=INTEGER},
      approvedby = #{approvedby,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR},
      accountrecords596 = #{accountrecords596,jdbcType=LONGVARCHAR},
      accountrecords592 = #{accountrecords592,jdbcType=LONGVARCHAR},
      accountrecords594 = #{accountrecords594,jdbcType=LONGVARCHAR}
    where accountrecordssid = #{accountrecordssid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmAccountrecordss" >
    update xm_accountrecordss
    set accountrecords590 = #{accountrecords590,jdbcType=VARCHAR},
      accountrecords588 = #{accountrecords588,jdbcType=VARCHAR},
      accountrecords586 = #{accountrecords586,jdbcType=VARCHAR},
      accountrecords584 = #{accountrecords584,jdbcType=DATE},
      accountrecords582 = #{accountrecords582,jdbcType=VARCHAR},
      accountrecords580 = #{accountrecords580,jdbcType=VARCHAR},
      inboundsearchsid = #{inboundsearchsid,jdbcType=INTEGER},
      contact_id = #{contactId,jdbcType=INTEGER},
      accountrecordsname = #{accountrecordsname,jdbcType=VARCHAR},
      accountid = #{accountid,jdbcType=INTEGER},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      smownerid = #{smownerid,jdbcType=INTEGER},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      approved = #{approved,jdbcType=INTEGER},
      approvedby = #{approvedby,jdbcType=INTEGER}
    where accountrecordssid = #{accountrecordssid,jdbcType=INTEGER}
  </update>
   <select id="getTotal" resultType="INTEGER" >
  	SELECT count(1) AS count FROM xm_accountrecordss LEFT JOIN xm_users ON xm_users.id = xm_accountrecordss.smownerid left join xm_account ON xm_accountrecordss.accountid=xm_account.accountid left join xm_contactdetails ON xm_accountrecordss.contact_id=xm_contactdetails.contactid WHERE 1=1 ${filter}
  </select>
  <select id="loadList" resultMap="BaseResultMap" >
  	select xm_accountrecordss.accountrecordsname,xm_users.user_name,xm_accountrecordss.accountid,xm_accountrecordss.accountrecords580,xm_accountrecordss.accountrecords590,xm_accountrecordss.accountrecords582,xm_accountrecordss.accountrecords584,xm_accountrecordss.accountrecords588 ,xm_accountrecordss.accountrecordssid as crmid FROM xm_accountrecordss LEFT JOIN xm_users ON xm_users.id = xm_accountrecordss.smownerid left join xm_account ON xm_accountrecordss.accountid=xm_account.accountid left join xm_contactdetails ON xm_accountrecordss.contact_id=xm_contactdetails.contactid WHERE 1=1 ${filter} limit #{start},#{rows}
  </select>
</mapper>