<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.module.XmDuishousMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmDuishous" >
    <id column="duishousid" property="duishousid" jdbcType="INTEGER" />
    <result column="duishouname" property="duishouname" jdbcType="VARCHAR" />
    <result column="duishou529" property="duishou529" jdbcType="VARCHAR" />
    <result column="duishou531" property="duishou531" jdbcType="VARCHAR" />
    <result column="smcreatorid" property="smcreatorid" jdbcType="INTEGER" />
    <result column="smownerid" property="smownerid" jdbcType="INTEGER" />
    <result column="modifiedby" property="modifiedby" jdbcType="INTEGER" />
    <result column="groupid" property="groupid" jdbcType="INTEGER" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="modifiedtime" property="modifiedtime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="approved" property="approved" jdbcType="INTEGER" />
    <result column="approvedby" property="approvedby" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR"  />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.crm.model.XmDuishous" extends="BaseResultMap" >
    <result column="duishou535" property="duishou535" jdbcType="LONGVARCHAR" />
    <result column="duishou533" property="duishou533" jdbcType="LONGVARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="duishou537" property="duishou537" jdbcType="LONGVARCHAR" />
    <result column="duishou539" property="duishou539" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    duishousid, duishouname, duishou529, duishou531, smcreatorid, smownerid, modifiedby, 
    groupid, createdtime, modifiedtime, deleted, approved, approvedby
  </sql>
  <sql id="Blob_Column_List" >
    duishou535, duishou533, description, duishou537, duishou539
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xm_duishous
    where duishousid = #{duishousid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_duishous
    where duishousid = #{duishousid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmDuishous" >
    insert into xm_duishous (duishousid, duishouname, duishou529, 
      duishou531, smcreatorid, smownerid, 
      modifiedby, groupid, createdtime, 
      modifiedtime, deleted, approved, 
      approvedby, duishou535, duishou533, 
      description, duishou537, duishou539
      )
    values (#{duishousid,jdbcType=INTEGER}, #{duishouname,jdbcType=VARCHAR}, #{duishou529,jdbcType=VARCHAR}, 
      #{duishou531,jdbcType=VARCHAR}, #{smcreatorid,jdbcType=INTEGER}, #{smownerid,jdbcType=INTEGER}, 
      #{modifiedby,jdbcType=INTEGER}, #{groupid,jdbcType=INTEGER}, #{createdtime,jdbcType=TIMESTAMP}, 
      #{modifiedtime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER}, #{approved,jdbcType=INTEGER}, 
      #{approvedby,jdbcType=INTEGER}, #{duishou535,jdbcType=LONGVARCHAR}, #{duishou533,jdbcType=LONGVARCHAR}, 
      #{description,jdbcType=LONGVARCHAR}, #{duishou537,jdbcType=LONGVARCHAR}, #{duishou539,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmDuishous" >
    insert into xm_duishous
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="duishousid != null" >
        duishousid,
      </if>
      <if test="duishouname != null" >
        duishouname,
      </if>
      <if test="duishou529 != null" >
        duishou529,
      </if>
      <if test="duishou531 != null" >
        duishou531,
      </if>
      <if test="smcreatorid != null" >
        smcreatorid,
      </if>
      <if test="smownerid != null" >
        smownerid,
      </if>
      <if test="modifiedby != null" >
        modifiedby,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="createdtime != null" >
        createdtime,
      </if>
      <if test="modifiedtime != null" >
        modifiedtime,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="approved != null" >
        approved,
      </if>
      <if test="approvedby != null" >
        approvedby,
      </if>
      <if test="duishou535 != null" >
        duishou535,
      </if>
      <if test="duishou533 != null" >
        duishou533,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="duishou537 != null" >
        duishou537,
      </if>
      <if test="duishou539 != null" >
        duishou539,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="duishousid != null" >
        #{duishousid,jdbcType=INTEGER},
      </if>
      <if test="duishouname != null" >
        #{duishouname,jdbcType=VARCHAR},
      </if>
      <if test="duishou529 != null" >
        #{duishou529,jdbcType=VARCHAR},
      </if>
      <if test="duishou531 != null" >
        #{duishou531,jdbcType=VARCHAR},
      </if>
      <if test="smcreatorid != null" >
        #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="smownerid != null" >
        #{smownerid,jdbcType=INTEGER},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="approved != null" >
        #{approved,jdbcType=INTEGER},
      </if>
      <if test="approvedby != null" >
        #{approvedby,jdbcType=INTEGER},
      </if>
      <if test="duishou535 != null" >
        #{duishou535,jdbcType=LONGVARCHAR},
      </if>
      <if test="duishou533 != null" >
        #{duishou533,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="duishou537 != null" >
        #{duishou537,jdbcType=LONGVARCHAR},
      </if>
      <if test="duishou539 != null" >
        #{duishou539,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmDuishous" >
    update xm_duishous
    <set >
      <if test="duishouname != null" >
        duishouname = #{duishouname,jdbcType=VARCHAR},
      </if>
      <if test="duishou529 != null" >
        duishou529 = #{duishou529,jdbcType=VARCHAR},
      </if>
      <if test="duishou531 != null" >
        duishou531 = #{duishou531,jdbcType=VARCHAR},
      </if>
      <if test="smcreatorid != null" >
        smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="smownerid != null" >
        smownerid = #{smownerid,jdbcType=INTEGER},
      </if>
      <if test="modifiedby != null" >
        modifiedby = #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        createdtime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="approved != null" >
        approved = #{approved,jdbcType=INTEGER},
      </if>
      <if test="approvedby != null" >
        approvedby = #{approvedby,jdbcType=INTEGER},
      </if>
      <if test="duishou535 != null" >
        duishou535 = #{duishou535,jdbcType=LONGVARCHAR},
      </if>
      <if test="duishou533 != null" >
        duishou533 = #{duishou533,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="duishou537 != null" >
        duishou537 = #{duishou537,jdbcType=LONGVARCHAR},
      </if>
      <if test="duishou539 != null" >
        duishou539 = #{duishou539,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where duishousid = #{duishousid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.crm.model.XmDuishous" >
    update xm_duishous
    set duishouname = #{duishouname,jdbcType=VARCHAR},
      duishou529 = #{duishou529,jdbcType=VARCHAR},
      duishou531 = #{duishou531,jdbcType=VARCHAR},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      smownerid = #{smownerid,jdbcType=INTEGER},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      approved = #{approved,jdbcType=INTEGER},
      approvedby = #{approvedby,jdbcType=INTEGER},
      duishou535 = #{duishou535,jdbcType=LONGVARCHAR},
      duishou533 = #{duishou533,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      duishou537 = #{duishou537,jdbcType=LONGVARCHAR},
      duishou539 = #{duishou539,jdbcType=LONGVARCHAR}
    where duishousid = #{duishousid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmDuishous" >
    update xm_duishous
    set duishouname = #{duishouname,jdbcType=VARCHAR},
      duishou529 = #{duishou529,jdbcType=VARCHAR},
      duishou531 = #{duishou531,jdbcType=VARCHAR},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      smownerid = #{smownerid,jdbcType=INTEGER},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      approved = #{approved,jdbcType=INTEGER},
      approvedby = #{approvedby,jdbcType=INTEGER}
    where duishousid = #{duishousid,jdbcType=INTEGER}
  </update>
  <select id="getTotal" resultType="INTEGER">
	SELECT count(1) AS count FROM xm_duishous LEFT JOIN xm_users ON xm_users.id = xm_duishous.smownerid WHERE 1=1 ${filter}
  </select>
  <select id="loadList" resultMap="BaseResultMap" >
  	select xm_duishous.*,xm_users.user_name FROM xm_duishous LEFT JOIN xm_users ON xm_users.id = xm_duishous.smownerid WHERE 1=1 ${filter} limit #{start},#{rows}
  </select>
</mapper>