<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.module.XmExpensesMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmExpenses" >
    <id column="expensesid" property="expensesid" jdbcType="INTEGER" />
    <result column="contact_id" property="contactId" jdbcType="INTEGER" />
    <result column="accountid" property="accountid" jdbcType="INTEGER" />
    <result column="expensename" property="expensename" jdbcType="VARCHAR" />
    <result column="expensestatus" property="expensestatus" jdbcType="VARCHAR" />
    <result column="expensecategory" property="expensecategory" jdbcType="VARCHAR" />
    <result column="expensebill" property="expensebill" jdbcType="VARCHAR" />
    <result column="expensedate" property="expensedate" jdbcType="DATE" />
    <result column="total" property="total" jdbcType="DECIMAL" />
    <result column="projectsid" property="projectsid" jdbcType="INTEGER" />
    <result column="smcreatorid" property="smcreatorid" jdbcType="INTEGER" />
    <result column="smownerid" property="smownerid" jdbcType="INTEGER" />
    <result column="modifiedby" property="modifiedby" jdbcType="INTEGER" />
    <result column="groupid" property="groupid" jdbcType="INTEGER" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="modifiedtime" property="modifiedtime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="approved" property="approved" jdbcType="INTEGER" />
    <result column="approvedby" property="approvedby" jdbcType="INTEGER" />
    <result column="accountname" property="accountname" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.crm.model.XmExpenses" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    expensesid, contact_id, accountid, expensename, expensestatus, expensecategory, expensebill, 
    expensedate, total, projectsid, smcreatorid, smownerid, modifiedby, groupid, createdtime, 
    modifiedtime, deleted, approved, approvedby
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xm_expenses
    where expensesid = #{expensesid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_expenses
    where expensesid = #{expensesid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmExpenses" >
    insert into xm_expenses (expensesid, contact_id, accountid, 
      expensename, expensestatus, expensecategory, 
      expensebill, expensedate, total, 
      projectsid, smcreatorid, smownerid, 
      modifiedby, groupid, createdtime, 
      modifiedtime, deleted, approved, 
      approvedby, description)
    values (#{expensesid,jdbcType=INTEGER}, #{contactId,jdbcType=INTEGER}, #{accountid,jdbcType=INTEGER}, 
      #{expensename,jdbcType=VARCHAR}, #{expensestatus,jdbcType=VARCHAR}, #{expensecategory,jdbcType=VARCHAR}, 
      #{expensebill,jdbcType=VARCHAR}, #{expensedate,jdbcType=DATE}, #{total,jdbcType=DECIMAL}, 
      #{projectsid,jdbcType=INTEGER}, #{smcreatorid,jdbcType=INTEGER}, #{smownerid,jdbcType=INTEGER}, 
      #{modifiedby,jdbcType=INTEGER}, #{groupid,jdbcType=INTEGER}, #{createdtime,jdbcType=TIMESTAMP}, 
      #{modifiedtime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER}, #{approved,jdbcType=INTEGER}, 
      #{approvedby,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmExpenses" >
    insert into xm_expenses
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="expensesid != null" >
        expensesid,
      </if>
      <if test="contactId != null" >
        contact_id,
      </if>
      <if test="accountid != null" >
        accountid,
      </if>
      <if test="expensename != null" >
        expensename,
      </if>
      <if test="expensestatus != null" >
        expensestatus,
      </if>
      <if test="expensecategory != null" >
        expensecategory,
      </if>
      <if test="expensebill != null" >
        expensebill,
      </if>
      <if test="expensedate != null" >
        expensedate,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="projectsid != null" >
        projectsid,
      </if>
      <if test="smcreatorid != null" >
        smcreatorid,
      </if>
      <if test="smownerid != null" >
        smownerid,
      </if>
      <if test="modifiedby != null" >
        modifiedby,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="createdtime != null" >
        createdtime,
      </if>
      <if test="modifiedtime != null" >
        modifiedtime,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="approved != null" >
        approved,
      </if>
      <if test="approvedby != null" >
        approvedby,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="expensesid != null" >
        #{expensesid,jdbcType=INTEGER},
      </if>
      <if test="contactId != null" >
        #{contactId,jdbcType=INTEGER},
      </if>
      <if test="accountid != null" >
        #{accountid,jdbcType=INTEGER},
      </if>
      <if test="expensename != null" >
        #{expensename,jdbcType=VARCHAR},
      </if>
      <if test="expensestatus != null" >
        #{expensestatus,jdbcType=VARCHAR},
      </if>
      <if test="expensecategory != null" >
        #{expensecategory,jdbcType=VARCHAR},
      </if>
      <if test="expensebill != null" >
        #{expensebill,jdbcType=VARCHAR},
      </if>
      <if test="expensedate != null" >
        #{expensedate,jdbcType=DATE},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="projectsid != null" >
        #{projectsid,jdbcType=INTEGER},
      </if>
      <if test="smcreatorid != null" >
        #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="smownerid != null" >
        #{smownerid,jdbcType=INTEGER},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="approved != null" >
        #{approved,jdbcType=INTEGER},
      </if>
      <if test="approvedby != null" >
        #{approvedby,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmExpenses" >
    update xm_expenses
    <set >
      <if test="contactId != null" >
        contact_id = #{contactId,jdbcType=INTEGER},
      </if>
      <if test="accountid != null" >
        accountid = #{accountid,jdbcType=INTEGER},
      </if>
      <if test="expensename != null" >
        expensename = #{expensename,jdbcType=VARCHAR},
      </if>
      <if test="expensestatus != null" >
        expensestatus = #{expensestatus,jdbcType=VARCHAR},
      </if>
      <if test="expensecategory != null" >
        expensecategory = #{expensecategory,jdbcType=VARCHAR},
      </if>
      <if test="expensebill != null" >
        expensebill = #{expensebill,jdbcType=VARCHAR},
      </if>
      <if test="expensedate != null" >
        expensedate = #{expensedate,jdbcType=DATE},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="projectsid != null" >
        projectsid = #{projectsid,jdbcType=INTEGER},
      </if>
      <if test="smcreatorid != null" >
        smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="smownerid != null" >
        smownerid = #{smownerid,jdbcType=INTEGER},
      </if>
      <if test="modifiedby != null" >
        modifiedby = #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        createdtime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="approved != null" >
        approved = #{approved,jdbcType=INTEGER},
      </if>
      <if test="approvedby != null" >
        approvedby = #{approvedby,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where expensesid = #{expensesid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.crm.model.XmExpenses" >
    update xm_expenses
    set contact_id = #{contactId,jdbcType=INTEGER},
      accountid = #{accountid,jdbcType=INTEGER},
      expensename = #{expensename,jdbcType=VARCHAR},
      expensestatus = #{expensestatus,jdbcType=VARCHAR},
      expensecategory = #{expensecategory,jdbcType=VARCHAR},
      expensebill = #{expensebill,jdbcType=VARCHAR},
      expensedate = #{expensedate,jdbcType=DATE},
      total = #{total,jdbcType=DECIMAL},
      projectsid = #{projectsid,jdbcType=INTEGER},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      smownerid = #{smownerid,jdbcType=INTEGER},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      approved = #{approved,jdbcType=INTEGER},
      approvedby = #{approvedby,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where expensesid = #{expensesid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmExpenses" >
    update xm_expenses
    set contact_id = #{contactId,jdbcType=INTEGER},
      accountid = #{accountid,jdbcType=INTEGER},
      expensename = #{expensename,jdbcType=VARCHAR},
      expensestatus = #{expensestatus,jdbcType=VARCHAR},
      expensecategory = #{expensecategory,jdbcType=VARCHAR},
      expensebill = #{expensebill,jdbcType=VARCHAR},
      expensedate = #{expensedate,jdbcType=DATE},
      total = #{total,jdbcType=DECIMAL},
      projectsid = #{projectsid,jdbcType=INTEGER},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      smownerid = #{smownerid,jdbcType=INTEGER},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      approved = #{approved,jdbcType=INTEGER},
      approvedby = #{approvedby,jdbcType=INTEGER}
    where expensesid = #{expensesid,jdbcType=INTEGER}
  </update>
  <select id="getExpensesStat" resultType="com.crm.bean.crm.portlets.salesyearinfo.ExpensesStat" >
  	select count(*) as expensescount,sum(IFNULL(total,0.00)) as sumexpensestotal from xm_expenses where xm_expenses.deleted = 0 and xm_expenses.expensestatus = '已批准' and xm_expenses.expensedate between '${year}-01-01 00:00:00' and '${year}-12-31 23:59:00';
  </select>
  <select id="getExpensesmonth" resultMap="BaseResultMap" >
  	SELECT
		xm_account.accountname,
		xm_expenses.*,
		xm_users.last_name as smowner 
	FROM
		xm_expenses
	INNER JOIN xm_account ON xm_account.accountid = xm_expenses.accountid
	left join xm_users on xm_expenses.smownerid = xm_users.id 
	WHERE
		xm_expenses.deleted = 0
	AND(
		xm_expenses.expensedate >= #{today}
		AND xm_expenses.expensedate <![CDATA[<=]]> #{nextday}
	)
	OR(
		xm_expenses.expensedate <![CDATA[<=]]> #{today}
		AND xm_expenses.expensedate >= #{prevday}
	)
	ORDER BY
		modifiedtime DESC;
  </select>
</mapper>