<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.module.XmInvoiceMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmInvoice" >
    <id column="invoiceid" property="invoiceid" jdbcType="INTEGER" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="salesorderid" property="salesorderid" jdbcType="INTEGER" />
    <result column="contactid" property="contactid" jdbcType="INTEGER" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="invoicedate" property="invoicedate" jdbcType="DATE" />
    <result column="duedate" property="duedate" jdbcType="DATE" />
    <result column="invoiceterms" property="invoiceterms" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="currency_rate" property="currencyRate" jdbcType="DECIMAL" />
    <result column="salestax" property="salestax" jdbcType="DECIMAL" />
    <result column="adjustment" property="adjustment" jdbcType="DECIMAL" />
    <result column="salescommission" property="salescommission" jdbcType="DECIMAL" />
    <result column="exciseduty" property="exciseduty" jdbcType="DECIMAL" />
    <result column="subtotal" property="subtotal" jdbcType="DECIMAL" />
    <result column="total" property="total" jdbcType="DECIMAL" />
    <result column="taxtype" property="taxtype" jdbcType="VARCHAR" />
    <result column="discount_percent" property="discountPercent" jdbcType="DECIMAL" />
    <result column="discount_amount" property="discountAmount" jdbcType="DECIMAL" />
    <result column="s_h_amount" property="sHAmount" jdbcType="DECIMAL" />
    <result column="shipping" property="shipping" jdbcType="VARCHAR" />
    <result column="accountid" property="accountid" jdbcType="INTEGER" />
    <result column="invoicestatus" property="invoicestatus" jdbcType="VARCHAR" />
    <result column="invoicenumber" property="invoicenumber" jdbcType="VARCHAR" />
    <result column="salesorders" property="salesorders" jdbcType="VARCHAR" />
    <result column="smcreatorid" property="smcreatorid" jdbcType="INTEGER" />
    <result column="smownerid" property="smownerid" jdbcType="INTEGER" />
    <result column="modifiedby" property="modifiedby" jdbcType="INTEGER" />
    <result column="groupid" property="groupid" jdbcType="INTEGER" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="modifiedtime" property="modifiedtime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="approved" property="approved" jdbcType="INTEGER" />
    <result column="approvedby" property="approvedby" jdbcType="INTEGER" />
    <result column="delitype" property="delitype" jdbcType="VARCHAR" />
    <result column="gatherstatus" property="gatherstatus" jdbcType="VARCHAR" />
    <result column="accountname" property="accountname" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.crm.model.XmInvoice" extends="BaseResultMap" >
    <result column="terms_conditions" property="termsConditions" jdbcType="LONGVARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    invoiceid, subject, salesorderid, contactid, notes, invoicedate, duedate, invoiceterms, 
    type, currency, currency_rate, salestax, adjustment, salescommission, exciseduty, 
    subtotal, total, taxtype, discount_percent, discount_amount, s_h_amount, shipping, 
    accountid, invoicestatus, invoicenumber, salesorders, smcreatorid, smownerid, modifiedby, 
    groupid, createdtime, modifiedtime, deleted, approved, approvedby, delitype, gatherstatus
  </sql>
  <sql id="Blob_Column_List" >
    terms_conditions, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xm_invoice
    where invoiceid = #{invoiceid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_invoice
    where invoiceid = #{invoiceid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmInvoice" >
    insert into xm_invoice (invoiceid, subject, salesorderid, 
      contactid, notes, invoicedate, 
      duedate, invoiceterms, type, 
      currency, currency_rate, salestax, 
      adjustment, salescommission, exciseduty, 
      subtotal, total, taxtype, 
      discount_percent, discount_amount, s_h_amount, 
      shipping, accountid, invoicestatus, 
      invoicenumber, salesorders, smcreatorid, 
      smownerid, modifiedby, groupid, 
      createdtime, modifiedtime, deleted, 
      approved, approvedby, delitype, 
      gatherstatus, terms_conditions, description
      )
    values (#{invoiceid,jdbcType=INTEGER}, #{subject,jdbcType=VARCHAR}, #{salesorderid,jdbcType=INTEGER}, 
      #{contactid,jdbcType=INTEGER}, #{notes,jdbcType=VARCHAR}, #{invoicedate,jdbcType=DATE}, 
      #{duedate,jdbcType=DATE}, #{invoiceterms,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{currency,jdbcType=VARCHAR}, #{currencyRate,jdbcType=DECIMAL}, #{salestax,jdbcType=DECIMAL}, 
      #{adjustment,jdbcType=DECIMAL}, #{salescommission,jdbcType=DECIMAL}, #{exciseduty,jdbcType=DECIMAL}, 
      #{subtotal,jdbcType=DECIMAL}, #{total,jdbcType=DECIMAL}, #{taxtype,jdbcType=VARCHAR}, 
      #{discountPercent,jdbcType=DECIMAL}, #{discountAmount,jdbcType=DECIMAL}, #{sHAmount,jdbcType=DECIMAL}, 
      #{shipping,jdbcType=VARCHAR}, #{accountid,jdbcType=INTEGER}, #{invoicestatus,jdbcType=VARCHAR}, 
      #{invoicenumber,jdbcType=VARCHAR}, #{salesorders,jdbcType=VARCHAR}, #{smcreatorid,jdbcType=INTEGER}, 
      #{smownerid,jdbcType=INTEGER}, #{modifiedby,jdbcType=INTEGER}, #{groupid,jdbcType=INTEGER}, 
      #{createdtime,jdbcType=TIMESTAMP}, #{modifiedtime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER}, 
      #{approved,jdbcType=INTEGER}, #{approvedby,jdbcType=INTEGER}, #{delitype,jdbcType=VARCHAR}, 
      #{gatherstatus,jdbcType=VARCHAR}, #{termsConditions,jdbcType=LONGVARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmInvoice" >
    insert into xm_invoice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="invoiceid != null" >
        invoiceid,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="salesorderid != null" >
        salesorderid,
      </if>
      <if test="contactid != null" >
        contactid,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="invoicedate != null" >
        invoicedate,
      </if>
      <if test="duedate != null" >
        duedate,
      </if>
      <if test="invoiceterms != null" >
        invoiceterms,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="currencyRate != null" >
        currency_rate,
      </if>
      <if test="salestax != null" >
        salestax,
      </if>
      <if test="adjustment != null" >
        adjustment,
      </if>
      <if test="salescommission != null" >
        salescommission,
      </if>
      <if test="exciseduty != null" >
        exciseduty,
      </if>
      <if test="subtotal != null" >
        subtotal,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="taxtype != null" >
        taxtype,
      </if>
      <if test="discountPercent != null" >
        discount_percent,
      </if>
      <if test="discountAmount != null" >
        discount_amount,
      </if>
      <if test="sHAmount != null" >
        s_h_amount,
      </if>
      <if test="shipping != null" >
        shipping,
      </if>
      <if test="accountid != null" >
        accountid,
      </if>
      <if test="invoicestatus != null" >
        invoicestatus,
      </if>
      <if test="invoicenumber != null" >
        invoicenumber,
      </if>
      <if test="salesorders != null" >
        salesorders,
      </if>
      <if test="smcreatorid != null" >
        smcreatorid,
      </if>
      <if test="smownerid != null" >
        smownerid,
      </if>
      <if test="modifiedby != null" >
        modifiedby,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="createdtime != null" >
        createdtime,
      </if>
      <if test="modifiedtime != null" >
        modifiedtime,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="approved != null" >
        approved,
      </if>
      <if test="approvedby != null" >
        approvedby,
      </if>
      <if test="delitype != null" >
        delitype,
      </if>
      <if test="gatherstatus != null" >
        gatherstatus,
      </if>
      <if test="termsConditions != null" >
        terms_conditions,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="invoiceid != null" >
        #{invoiceid,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="salesorderid != null" >
        #{salesorderid,jdbcType=INTEGER},
      </if>
      <if test="contactid != null" >
        #{contactid,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="invoicedate != null" >
        #{invoicedate,jdbcType=DATE},
      </if>
      <if test="duedate != null" >
        #{duedate,jdbcType=DATE},
      </if>
      <if test="invoiceterms != null" >
        #{invoiceterms,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="currencyRate != null" >
        #{currencyRate,jdbcType=DECIMAL},
      </if>
      <if test="salestax != null" >
        #{salestax,jdbcType=DECIMAL},
      </if>
      <if test="adjustment != null" >
        #{adjustment,jdbcType=DECIMAL},
      </if>
      <if test="salescommission != null" >
        #{salescommission,jdbcType=DECIMAL},
      </if>
      <if test="exciseduty != null" >
        #{exciseduty,jdbcType=DECIMAL},
      </if>
      <if test="subtotal != null" >
        #{subtotal,jdbcType=DECIMAL},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="taxtype != null" >
        #{taxtype,jdbcType=VARCHAR},
      </if>
      <if test="discountPercent != null" >
        #{discountPercent,jdbcType=DECIMAL},
      </if>
      <if test="discountAmount != null" >
        #{discountAmount,jdbcType=DECIMAL},
      </if>
      <if test="sHAmount != null" >
        #{sHAmount,jdbcType=DECIMAL},
      </if>
      <if test="shipping != null" >
        #{shipping,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null" >
        #{accountid,jdbcType=INTEGER},
      </if>
      <if test="invoicestatus != null" >
        #{invoicestatus,jdbcType=VARCHAR},
      </if>
      <if test="invoicenumber != null" >
        #{invoicenumber,jdbcType=VARCHAR},
      </if>
      <if test="salesorders != null" >
        #{salesorders,jdbcType=VARCHAR},
      </if>
      <if test="smcreatorid != null" >
        #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="smownerid != null" >
        #{smownerid,jdbcType=INTEGER},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="approved != null" >
        #{approved,jdbcType=INTEGER},
      </if>
      <if test="approvedby != null" >
        #{approvedby,jdbcType=INTEGER},
      </if>
      <if test="delitype != null" >
        #{delitype,jdbcType=VARCHAR},
      </if>
      <if test="gatherstatus != null" >
        #{gatherstatus,jdbcType=VARCHAR},
      </if>
      <if test="termsConditions != null" >
        #{termsConditions,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmInvoice" >
    update xm_invoice
    <set >
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="salesorderid != null" >
        salesorderid = #{salesorderid,jdbcType=INTEGER},
      </if>
      <if test="contactid != null" >
        contactid = #{contactid,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="invoicedate != null" >
        invoicedate = #{invoicedate,jdbcType=DATE},
      </if>
      <if test="duedate != null" >
        duedate = #{duedate,jdbcType=DATE},
      </if>
      <if test="invoiceterms != null" >
        invoiceterms = #{invoiceterms,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="currencyRate != null" >
        currency_rate = #{currencyRate,jdbcType=DECIMAL},
      </if>
      <if test="salestax != null" >
        salestax = #{salestax,jdbcType=DECIMAL},
      </if>
      <if test="adjustment != null" >
        adjustment = #{adjustment,jdbcType=DECIMAL},
      </if>
      <if test="salescommission != null" >
        salescommission = #{salescommission,jdbcType=DECIMAL},
      </if>
      <if test="exciseduty != null" >
        exciseduty = #{exciseduty,jdbcType=DECIMAL},
      </if>
      <if test="subtotal != null" >
        subtotal = #{subtotal,jdbcType=DECIMAL},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="taxtype != null" >
        taxtype = #{taxtype,jdbcType=VARCHAR},
      </if>
      <if test="discountPercent != null" >
        discount_percent = #{discountPercent,jdbcType=DECIMAL},
      </if>
      <if test="discountAmount != null" >
        discount_amount = #{discountAmount,jdbcType=DECIMAL},
      </if>
      <if test="sHAmount != null" >
        s_h_amount = #{sHAmount,jdbcType=DECIMAL},
      </if>
      <if test="shipping != null" >
        shipping = #{shipping,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null" >
        accountid = #{accountid,jdbcType=INTEGER},
      </if>
      <if test="invoicestatus != null" >
        invoicestatus = #{invoicestatus,jdbcType=VARCHAR},
      </if>
      <if test="invoicenumber != null" >
        invoicenumber = #{invoicenumber,jdbcType=VARCHAR},
      </if>
      <if test="salesorders != null" >
        salesorders = #{salesorders,jdbcType=VARCHAR},
      </if>
      <if test="smcreatorid != null" >
        smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="smownerid != null" >
        smownerid = #{smownerid,jdbcType=INTEGER},
      </if>
      <if test="modifiedby != null" >
        modifiedby = #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        createdtime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="approved != null" >
        approved = #{approved,jdbcType=INTEGER},
      </if>
      <if test="approvedby != null" >
        approvedby = #{approvedby,jdbcType=INTEGER},
      </if>
      <if test="delitype != null" >
        delitype = #{delitype,jdbcType=VARCHAR},
      </if>
      <if test="gatherstatus != null" >
        gatherstatus = #{gatherstatus,jdbcType=VARCHAR},
      </if>
      <if test="termsConditions != null" >
        terms_conditions = #{termsConditions,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where invoiceid = #{invoiceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.crm.model.XmInvoice" >
    update xm_invoice
    set subject = #{subject,jdbcType=VARCHAR},
      salesorderid = #{salesorderid,jdbcType=INTEGER},
      contactid = #{contactid,jdbcType=INTEGER},
      notes = #{notes,jdbcType=VARCHAR},
      invoicedate = #{invoicedate,jdbcType=DATE},
      duedate = #{duedate,jdbcType=DATE},
      invoiceterms = #{invoiceterms,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      currency_rate = #{currencyRate,jdbcType=DECIMAL},
      salestax = #{salestax,jdbcType=DECIMAL},
      adjustment = #{adjustment,jdbcType=DECIMAL},
      salescommission = #{salescommission,jdbcType=DECIMAL},
      exciseduty = #{exciseduty,jdbcType=DECIMAL},
      subtotal = #{subtotal,jdbcType=DECIMAL},
      total = #{total,jdbcType=DECIMAL},
      taxtype = #{taxtype,jdbcType=VARCHAR},
      discount_percent = #{discountPercent,jdbcType=DECIMAL},
      discount_amount = #{discountAmount,jdbcType=DECIMAL},
      s_h_amount = #{sHAmount,jdbcType=DECIMAL},
      shipping = #{shipping,jdbcType=VARCHAR},
      accountid = #{accountid,jdbcType=INTEGER},
      invoicestatus = #{invoicestatus,jdbcType=VARCHAR},
      invoicenumber = #{invoicenumber,jdbcType=VARCHAR},
      salesorders = #{salesorders,jdbcType=VARCHAR},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      smownerid = #{smownerid,jdbcType=INTEGER},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      approved = #{approved,jdbcType=INTEGER},
      approvedby = #{approvedby,jdbcType=INTEGER},
      delitype = #{delitype,jdbcType=VARCHAR},
      gatherstatus = #{gatherstatus,jdbcType=VARCHAR},
      terms_conditions = #{termsConditions,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where invoiceid = #{invoiceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmInvoice" >
    update xm_invoice
    set subject = #{subject,jdbcType=VARCHAR},
      salesorderid = #{salesorderid,jdbcType=INTEGER},
      contactid = #{contactid,jdbcType=INTEGER},
      notes = #{notes,jdbcType=VARCHAR},
      invoicedate = #{invoicedate,jdbcType=DATE},
      duedate = #{duedate,jdbcType=DATE},
      invoiceterms = #{invoiceterms,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      currency_rate = #{currencyRate,jdbcType=DECIMAL},
      salestax = #{salestax,jdbcType=DECIMAL},
      adjustment = #{adjustment,jdbcType=DECIMAL},
      salescommission = #{salescommission,jdbcType=DECIMAL},
      exciseduty = #{exciseduty,jdbcType=DECIMAL},
      subtotal = #{subtotal,jdbcType=DECIMAL},
      total = #{total,jdbcType=DECIMAL},
      taxtype = #{taxtype,jdbcType=VARCHAR},
      discount_percent = #{discountPercent,jdbcType=DECIMAL},
      discount_amount = #{discountAmount,jdbcType=DECIMAL},
      s_h_amount = #{sHAmount,jdbcType=DECIMAL},
      shipping = #{shipping,jdbcType=VARCHAR},
      accountid = #{accountid,jdbcType=INTEGER},
      invoicestatus = #{invoicestatus,jdbcType=VARCHAR},
      invoicenumber = #{invoicenumber,jdbcType=VARCHAR},
      salesorders = #{salesorders,jdbcType=VARCHAR},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      smownerid = #{smownerid,jdbcType=INTEGER},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      approved = #{approved,jdbcType=INTEGER},
      approvedby = #{approvedby,jdbcType=INTEGER},
      delitype = #{delitype,jdbcType=VARCHAR},
      gatherstatus = #{gatherstatus,jdbcType=VARCHAR}
    where invoiceid = #{invoiceid,jdbcType=INTEGER}
  </update>
    <select id="getTotal" resultType="INTEGER" >
	SELECT count(1) AS count FROM xm_invoice LEFT OUTER JOIN xm_salesorder ON xm_salesorder.salesorderid = xm_invoice.salesorderid LEFT OUTER JOIN xm_account ON xm_account.accountid = xm_invoice.accountid LEFT OUTER JOIN xm_contactdetails ON xm_invoice.contactid=xm_contactdetails.contactid LEFT JOIN xm_users ON xm_users.id = xm_invoice.smownerid WHERE 1=1 ${filter}
  </select>
  <select id="loadList" resultMap="ResultMapWithBLOBs">
   select xm_invoice.*,xm_account.accountname FROM xm_invoice LEFT OUTER JOIN xm_salesorder ON xm_salesorder.salesorderid = xm_invoice.salesorderid LEFT OUTER JOIN xm_account ON xm_account.accountid = xm_invoice.accountid LEFT OUTER JOIN xm_contactdetails ON xm_invoice.contactid=xm_contactdetails.contactid LEFT JOIN xm_users ON xm_users.id = xm_invoice.smownerid  WHERE 1=1 ${filter} limit #{start},#{rows}
  </select>
</mapper>