<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.module.XmPotentialMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmPotential" >
    <id column="potentialid" property="potentialid" jdbcType="INTEGER" />
    <result column="accountid" property="accountid" jdbcType="INTEGER" />
    <result column="contact_id" property="contactId" jdbcType="INTEGER" />
    <result column="potentialname" property="potentialname" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="total" property="total" jdbcType="DECIMAL" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="closingdate" property="closingdate" jdbcType="DATE" />
    <result column="typeofrevenue" property="typeofrevenue" jdbcType="VARCHAR" />
    <result column="nextstep" property="nextstep" jdbcType="VARCHAR" />
    <result column="private" property="private_" jdbcType="INTEGER" />
    <result column="probability" property="probability" jdbcType="INTEGER" />
    <result column="campaignid" property="campaignid" jdbcType="INTEGER" />
    <result column="sales_stage" property="salesStage" jdbcType="VARCHAR" />
    <result column="potentialtype" property="potentialtype" jdbcType="VARCHAR" />
    <result column="leadsource" property="leadsource" jdbcType="VARCHAR" />
    <result column="productid" property="productid" jdbcType="INTEGER" />
    <result column="productversion" property="productversion" jdbcType="VARCHAR" />
    <result column="quotationref" property="quotationref" jdbcType="VARCHAR" />
    <result column="partnercontact" property="partnercontact" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="runtimefee" property="runtimefee" jdbcType="INTEGER" />
    <result column="followupdate" property="followupdate" jdbcType="DATE" />
    <result column="evaluationstatus" property="evaluationstatus" jdbcType="VARCHAR" />
    <result column="forecastcategory" property="forecastcategory" jdbcType="INTEGER" />
    <result column="outcomeanalysis" property="outcomeanalysis" jdbcType="INTEGER" />
    <result column="probableamount" property="probableamount" jdbcType="DECIMAL" />
    <result column="smcreatorid" property="smcreatorid" jdbcType="INTEGER" />
    <result column="smownerid" property="smownerid" jdbcType="INTEGER" />
    <result column="modifiedby" property="modifiedby" jdbcType="INTEGER" />
    <result column="groupid" property="groupid" jdbcType="INTEGER" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="modifiedtime" property="modifiedtime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="approved" property="approved" jdbcType="INTEGER" />
    <result column="approvedby" property="approvedby" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.crm.model.XmPotential" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    potentialid, accountid, contact_id, potentialname, amount, total, currency, closingdate, 
    typeofrevenue, nextstep, private, probability, campaignid, sales_stage, potentialtype, 
    leadsource, productid, productversion, quotationref, partnercontact, remarks, runtimefee, 
    followupdate, evaluationstatus, forecastcategory, outcomeanalysis, probableamount, 
    smcreatorid, smownerid, modifiedby, groupid, createdtime, modifiedtime, deleted, 
    approved, approvedby
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xm_potential
    where potentialid = #{potentialid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_potential
    where potentialid = #{potentialid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmPotential" >
    insert into xm_potential (potentialid, accountid, contact_id, 
      potentialname, amount, total, 
      currency, closingdate, typeofrevenue, 
      nextstep, private, probability, 
      campaignid, sales_stage, potentialtype, 
      leadsource, productid, productversion, 
      quotationref, partnercontact, remarks, 
      runtimefee, followupdate, evaluationstatus, 
      forecastcategory, outcomeanalysis, probableamount, 
      smcreatorid, smownerid, modifiedby, 
      groupid, createdtime, modifiedtime, 
      deleted, approved, approvedby, 
      description)
    values (#{potentialid,jdbcType=INTEGER}, #{accountid,jdbcType=INTEGER}, #{contactId,jdbcType=INTEGER}, 
      #{potentialname,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{total,jdbcType=DECIMAL}, 
      #{currency,jdbcType=VARCHAR}, #{closingdate,jdbcType=DATE}, #{typeofrevenue,jdbcType=VARCHAR}, 
      #{nextstep,jdbcType=VARCHAR}, #{private,jdbcType=INTEGER}, #{probability,jdbcType=INTEGER}, 
      #{campaignid,jdbcType=INTEGER}, #{salesStage,jdbcType=VARCHAR}, #{potentialtype,jdbcType=VARCHAR}, 
      #{leadsource,jdbcType=VARCHAR}, #{productid,jdbcType=INTEGER}, #{productversion,jdbcType=VARCHAR}, 
      #{quotationref,jdbcType=VARCHAR}, #{partnercontact,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{runtimefee,jdbcType=INTEGER}, #{followupdate,jdbcType=DATE}, #{evaluationstatus,jdbcType=VARCHAR}, 
      #{forecastcategory,jdbcType=INTEGER}, #{outcomeanalysis,jdbcType=INTEGER}, #{probableamount,jdbcType=DECIMAL}, 
      #{smcreatorid,jdbcType=INTEGER}, #{smownerid,jdbcType=INTEGER}, #{modifiedby,jdbcType=INTEGER}, 
      #{groupid,jdbcType=INTEGER}, #{createdtime,jdbcType=TIMESTAMP}, #{modifiedtime,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=INTEGER}, #{approved,jdbcType=INTEGER}, #{approvedby,jdbcType=INTEGER}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmPotential" >
    insert into xm_potential
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="potentialid != null" >
        potentialid,
      </if>
      <if test="accountid != null" >
        accountid,
      </if>
      <if test="contactId != null" >
        contact_id,
      </if>
      <if test="potentialname != null" >
        potentialname,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="closingdate != null" >
        closingdate,
      </if>
      <if test="typeofrevenue != null" >
        typeofrevenue,
      </if>
      <if test="nextstep != null" >
        nextstep,
      </if>
      <if test="private != null" >
        private,
      </if>
      <if test="probability != null" >
        probability,
      </if>
      <if test="campaignid != null" >
        campaignid,
      </if>
      <if test="salesStage != null" >
        sales_stage,
      </if>
      <if test="potentialtype != null" >
        potentialtype,
      </if>
      <if test="leadsource != null" >
        leadsource,
      </if>
      <if test="productid != null" >
        productid,
      </if>
      <if test="productversion != null" >
        productversion,
      </if>
      <if test="quotationref != null" >
        quotationref,
      </if>
      <if test="partnercontact != null" >
        partnercontact,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="runtimefee != null" >
        runtimefee,
      </if>
      <if test="followupdate != null" >
        followupdate,
      </if>
      <if test="evaluationstatus != null" >
        evaluationstatus,
      </if>
      <if test="forecastcategory != null" >
        forecastcategory,
      </if>
      <if test="outcomeanalysis != null" >
        outcomeanalysis,
      </if>
      <if test="probableamount != null" >
        probableamount,
      </if>
      <if test="smcreatorid != null" >
        smcreatorid,
      </if>
      <if test="smownerid != null" >
        smownerid,
      </if>
      <if test="modifiedby != null" >
        modifiedby,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="createdtime != null" >
        createdtime,
      </if>
      <if test="modifiedtime != null" >
        modifiedtime,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="approved != null" >
        approved,
      </if>
      <if test="approvedby != null" >
        approvedby,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="potentialid != null" >
        #{potentialid,jdbcType=INTEGER},
      </if>
      <if test="accountid != null" >
        #{accountid,jdbcType=INTEGER},
      </if>
      <if test="contactId != null" >
        #{contactId,jdbcType=INTEGER},
      </if>
      <if test="potentialname != null" >
        #{potentialname,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="closingdate != null" >
        #{closingdate,jdbcType=DATE},
      </if>
      <if test="typeofrevenue != null" >
        #{typeofrevenue,jdbcType=VARCHAR},
      </if>
      <if test="nextstep != null" >
        #{nextstep,jdbcType=VARCHAR},
      </if>
      <if test="private != null" >
        #{private,jdbcType=INTEGER},
      </if>
      <if test="probability != null" >
        #{probability,jdbcType=INTEGER},
      </if>
      <if test="campaignid != null" >
        #{campaignid,jdbcType=INTEGER},
      </if>
      <if test="salesStage != null" >
        #{salesStage,jdbcType=VARCHAR},
      </if>
      <if test="potentialtype != null" >
        #{potentialtype,jdbcType=VARCHAR},
      </if>
      <if test="leadsource != null" >
        #{leadsource,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="productversion != null" >
        #{productversion,jdbcType=VARCHAR},
      </if>
      <if test="quotationref != null" >
        #{quotationref,jdbcType=VARCHAR},
      </if>
      <if test="partnercontact != null" >
        #{partnercontact,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="runtimefee != null" >
        #{runtimefee,jdbcType=INTEGER},
      </if>
      <if test="followupdate != null" >
        #{followupdate,jdbcType=DATE},
      </if>
      <if test="evaluationstatus != null" >
        #{evaluationstatus,jdbcType=VARCHAR},
      </if>
      <if test="forecastcategory != null" >
        #{forecastcategory,jdbcType=INTEGER},
      </if>
      <if test="outcomeanalysis != null" >
        #{outcomeanalysis,jdbcType=INTEGER},
      </if>
      <if test="probableamount != null" >
        #{probableamount,jdbcType=DECIMAL},
      </if>
      <if test="smcreatorid != null" >
        #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="smownerid != null" >
        #{smownerid,jdbcType=INTEGER},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="approved != null" >
        #{approved,jdbcType=INTEGER},
      </if>
      <if test="approvedby != null" >
        #{approvedby,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmPotential" >
    update xm_potential
    <set >
      <if test="accountid != null" >
        accountid = #{accountid,jdbcType=INTEGER},
      </if>
      <if test="contactId != null" >
        contact_id = #{contactId,jdbcType=INTEGER},
      </if>
      <if test="potentialname != null" >
        potentialname = #{potentialname,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="closingdate != null" >
        closingdate = #{closingdate,jdbcType=DATE},
      </if>
      <if test="typeofrevenue != null" >
        typeofrevenue = #{typeofrevenue,jdbcType=VARCHAR},
      </if>
      <if test="nextstep != null" >
        nextstep = #{nextstep,jdbcType=VARCHAR},
      </if>
      <if test="private != null" >
        private = #{private,jdbcType=INTEGER},
      </if>
      <if test="probability != null" >
        probability = #{probability,jdbcType=INTEGER},
      </if>
      <if test="campaignid != null" >
        campaignid = #{campaignid,jdbcType=INTEGER},
      </if>
      <if test="salesStage != null" >
        sales_stage = #{salesStage,jdbcType=VARCHAR},
      </if>
      <if test="potentialtype != null" >
        potentialtype = #{potentialtype,jdbcType=VARCHAR},
      </if>
      <if test="leadsource != null" >
        leadsource = #{leadsource,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        productid = #{productid,jdbcType=INTEGER},
      </if>
      <if test="productversion != null" >
        productversion = #{productversion,jdbcType=VARCHAR},
      </if>
      <if test="quotationref != null" >
        quotationref = #{quotationref,jdbcType=VARCHAR},
      </if>
      <if test="partnercontact != null" >
        partnercontact = #{partnercontact,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="runtimefee != null" >
        runtimefee = #{runtimefee,jdbcType=INTEGER},
      </if>
      <if test="followupdate != null" >
        followupdate = #{followupdate,jdbcType=DATE},
      </if>
      <if test="evaluationstatus != null" >
        evaluationstatus = #{evaluationstatus,jdbcType=VARCHAR},
      </if>
      <if test="forecastcategory != null" >
        forecastcategory = #{forecastcategory,jdbcType=INTEGER},
      </if>
      <if test="outcomeanalysis != null" >
        outcomeanalysis = #{outcomeanalysis,jdbcType=INTEGER},
      </if>
      <if test="probableamount != null" >
        probableamount = #{probableamount,jdbcType=DECIMAL},
      </if>
      <if test="smcreatorid != null" >
        smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="smownerid != null" >
        smownerid = #{smownerid,jdbcType=INTEGER},
      </if>
      <if test="modifiedby != null" >
        modifiedby = #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        createdtime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="approved != null" >
        approved = #{approved,jdbcType=INTEGER},
      </if>
      <if test="approvedby != null" >
        approvedby = #{approvedby,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where potentialid = #{potentialid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.crm.model.XmPotential" >
    update xm_potential
    set accountid = #{accountid,jdbcType=INTEGER},
      contact_id = #{contactId,jdbcType=INTEGER},
      potentialname = #{potentialname,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      total = #{total,jdbcType=DECIMAL},
      currency = #{currency,jdbcType=VARCHAR},
      closingdate = #{closingdate,jdbcType=DATE},
      typeofrevenue = #{typeofrevenue,jdbcType=VARCHAR},
      nextstep = #{nextstep,jdbcType=VARCHAR},
      private = #{private,jdbcType=INTEGER},
      probability = #{probability,jdbcType=INTEGER},
      campaignid = #{campaignid,jdbcType=INTEGER},
      sales_stage = #{salesStage,jdbcType=VARCHAR},
      potentialtype = #{potentialtype,jdbcType=VARCHAR},
      leadsource = #{leadsource,jdbcType=VARCHAR},
      productid = #{productid,jdbcType=INTEGER},
      productversion = #{productversion,jdbcType=VARCHAR},
      quotationref = #{quotationref,jdbcType=VARCHAR},
      partnercontact = #{partnercontact,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      runtimefee = #{runtimefee,jdbcType=INTEGER},
      followupdate = #{followupdate,jdbcType=DATE},
      evaluationstatus = #{evaluationstatus,jdbcType=VARCHAR},
      forecastcategory = #{forecastcategory,jdbcType=INTEGER},
      outcomeanalysis = #{outcomeanalysis,jdbcType=INTEGER},
      probableamount = #{probableamount,jdbcType=DECIMAL},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      smownerid = #{smownerid,jdbcType=INTEGER},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      approved = #{approved,jdbcType=INTEGER},
      approvedby = #{approvedby,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where potentialid = #{potentialid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmPotential" >
    update xm_potential
    set accountid = #{accountid,jdbcType=INTEGER},
      contact_id = #{contactId,jdbcType=INTEGER},
      potentialname = #{potentialname,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      total = #{total,jdbcType=DECIMAL},
      currency = #{currency,jdbcType=VARCHAR},
      closingdate = #{closingdate,jdbcType=DATE},
      typeofrevenue = #{typeofrevenue,jdbcType=VARCHAR},
      nextstep = #{nextstep,jdbcType=VARCHAR},
      private = #{private,jdbcType=INTEGER},
      probability = #{probability,jdbcType=INTEGER},
      campaignid = #{campaignid,jdbcType=INTEGER},
      sales_stage = #{salesStage,jdbcType=VARCHAR},
      potentialtype = #{potentialtype,jdbcType=VARCHAR},
      leadsource = #{leadsource,jdbcType=VARCHAR},
      productid = #{productid,jdbcType=INTEGER},
      productversion = #{productversion,jdbcType=VARCHAR},
      quotationref = #{quotationref,jdbcType=VARCHAR},
      partnercontact = #{partnercontact,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      runtimefee = #{runtimefee,jdbcType=INTEGER},
      followupdate = #{followupdate,jdbcType=DATE},
      evaluationstatus = #{evaluationstatus,jdbcType=VARCHAR},
      forecastcategory = #{forecastcategory,jdbcType=INTEGER},
      outcomeanalysis = #{outcomeanalysis,jdbcType=INTEGER},
      probableamount = #{probableamount,jdbcType=DECIMAL},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      smownerid = #{smownerid,jdbcType=INTEGER},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      approved = #{approved,jdbcType=INTEGER},
      approvedby = #{approvedby,jdbcType=INTEGER}
    where potentialid = #{potentialid,jdbcType=INTEGER}
  </update>
  <select id="getTotal" resultType="INTEGER" >
	SELECT count(1) AS count FROM xm_potential LEFT JOIN xm_account ON xm_potential.accountid = xm_account.accountid LEFT JOIN xm_users ON xm_users.id = xm_potential.smownerid WHERE 1=1 ${filter}
  </select>
  <select id="loadList" resultMap="BaseResultMap">
   SELECT xm_potential.*,xm_account.accountname FROM xm_potential LEFT JOIN xm_account ON xm_potential.accountid = xm_account.accountid LEFT JOIN xm_users ON xm_users.id = xm_potential.smownerid WHERE 1=1 ${filter} limit #{start},#{rows}
  </select>
  <select id="getTopPotential" resultMap="BaseResultMap" >
  	SELECT xm_potential.* FROM xm_potential LEFT JOIN xm_account ON xm_potential.accountid = xm_account.accountid LEFT JOIN xm_users ON xm_users.id = xm_potential.smownerid WHERE xm_potential.deleted = 0 AND xm_potential.sales_stage <![CDATA[<>]]> '谈成结束' AND xm_potential.sales_stage <![CDATA[<>]]> '未成结束' AND xm_potential.smownerid='1' ORDER BY amount DESC LIMIT 0,10
  </select>
  <select id="getSalesCountByPick" resultType="String" >
  	SELECT count(*) FROM xm_potential INNER JOIN xm_account ON xm_potential.accountid = xm_account.accountid LEFT JOIN xm_users ON xm_users.id = xm_potential.smownerid where xm_potential.deleted=0 and xm_potential.smownerid in (${range}) and xm_potential.closingdate <![CDATA[>=]]> '${firstday}' and xm_potential.closingdate <![CDATA[<=]]> '${lastday}' and xm_potential.sales_stage = #{colvalue}
  </select>
  <select id="getPotentialOfUserAndLast" resultType="INTEGER">
  	select count(*) as rowsnum from xm_potential WHERE deleted =0 AND smownerid='${userid}' and createdtime between '${start} 00:00:00' and '${end} 23:59:00';
  </select>
</mapper>