<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.module.XmQunfaMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmQunfa" >
    <id column="qunfaid" property="qunfaid" jdbcType="INTEGER" />
    <result column="qunfaname" property="qunfaname" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="qunfamsg" property="qunfamsg" jdbcType="VARCHAR" />
    <result column="qunfatype" property="qunfatype" jdbcType="VARCHAR" />
    <result column="queryid" property="queryid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    qunfaid, qunfaname, description, qunfamsg, qunfatype, queryid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xm_qunfa
    where qunfaid = #{qunfaid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_qunfa
    where qunfaid = #{qunfaid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmQunfa" >
    insert into xm_qunfa (qunfaid, qunfaname, description, 
      qunfamsg, qunfatype, queryid
      )
    values (#{qunfaid,jdbcType=INTEGER}, #{qunfaname,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{qunfamsg,jdbcType=VARCHAR}, #{qunfatype,jdbcType=VARCHAR}, #{queryid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmQunfa" >
    insert into xm_qunfa
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="qunfaid != null" >
        qunfaid,
      </if>
      <if test="qunfaname != null" >
        qunfaname,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="qunfamsg != null" >
        qunfamsg,
      </if>
      <if test="qunfatype != null" >
        qunfatype,
      </if>
      <if test="queryid != null" >
        queryid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="qunfaid != null" >
        #{qunfaid,jdbcType=INTEGER},
      </if>
      <if test="qunfaname != null" >
        #{qunfaname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="qunfamsg != null" >
        #{qunfamsg,jdbcType=VARCHAR},
      </if>
      <if test="qunfatype != null" >
        #{qunfatype,jdbcType=VARCHAR},
      </if>
      <if test="queryid != null" >
        #{queryid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmQunfa" >
    update xm_qunfa
    <set >
      <if test="qunfaname != null" >
        qunfaname = #{qunfaname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="qunfamsg != null" >
        qunfamsg = #{qunfamsg,jdbcType=VARCHAR},
      </if>
      <if test="qunfatype != null" >
        qunfatype = #{qunfatype,jdbcType=VARCHAR},
      </if>
      <if test="queryid != null" >
        queryid = #{queryid,jdbcType=INTEGER},
      </if>
    </set>
    where qunfaid = #{qunfaid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmQunfa" >
    update xm_qunfa
    set qunfaname = #{qunfaname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      qunfamsg = #{qunfamsg,jdbcType=VARCHAR},
      qunfatype = #{qunfatype,jdbcType=VARCHAR},
      queryid = #{queryid,jdbcType=INTEGER}
    where qunfaid = #{qunfaid,jdbcType=INTEGER}
  </update>
  <select id="getTotal" resultType="INTEGER">
  	select count(qunfaid) from xm_qunfa
  </select>
  <select id="getList" resultMap="BaseResultMap">
  	select * from xm_qunfa order by qunfaid desc limit #{start},#{rows}
  </select>
</mapper>