<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.module.XmSerialnumbersMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmSerialnumbers" >
    <id column="serialid" property="serialid" jdbcType="INTEGER" />
    <result column="serialname" property="serialname" jdbcType="VARCHAR" />
    <result column="productid" property="productid" jdbcType="INTEGER" />
    <result column="entityid" property="entityid" jdbcType="INTEGER" />
    <result column="cangkusid" property="cangkusid" jdbcType="INTEGER" />
    <result column="setype" property="setype" jdbcType="VARCHAR" />
    <result column="ismakeup" property="ismakeup" jdbcType="INTEGER" />
    <result column="smcreatorid" property="smcreatorid" jdbcType="INTEGER" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="modifiedby" property="modifiedby" jdbcType="INTEGER" />
    <result column="modifiedtime" property="modifiedtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    serialid, serialname, productid, entityid, cangkusid, setype, ismakeup, smcreatorid, 
    createdtime, modifiedby, modifiedtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xm_serialnumbers
    where serialid = #{serialid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_serialnumbers
    where serialid = #{serialid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmSerialnumbers" >
    insert into xm_serialnumbers (serialid, serialname, productid, 
      entityid, cangkusid, setype, 
      ismakeup, smcreatorid, createdtime, 
      modifiedby, modifiedtime)
    values (#{serialid,jdbcType=INTEGER}, #{serialname,jdbcType=VARCHAR}, #{productid,jdbcType=INTEGER}, 
      #{entityid,jdbcType=INTEGER}, #{cangkusid,jdbcType=INTEGER}, #{setype,jdbcType=VARCHAR}, 
      #{ismakeup,jdbcType=INTEGER}, #{smcreatorid,jdbcType=INTEGER}, #{createdtime,jdbcType=TIMESTAMP}, 
      #{modifiedby,jdbcType=INTEGER}, #{modifiedtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmSerialnumbers" >
    insert into xm_serialnumbers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serialid != null" >
        serialid,
      </if>
      <if test="serialname != null" >
        serialname,
      </if>
      <if test="productid != null" >
        productid,
      </if>
      <if test="entityid != null" >
        entityid,
      </if>
      <if test="cangkusid != null" >
        cangkusid,
      </if>
      <if test="setype != null" >
        setype,
      </if>
      <if test="ismakeup != null" >
        ismakeup,
      </if>
      <if test="smcreatorid != null" >
        smcreatorid,
      </if>
      <if test="createdtime != null" >
        createdtime,
      </if>
      <if test="modifiedby != null" >
        modifiedby,
      </if>
      <if test="modifiedtime != null" >
        modifiedtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serialid != null" >
        #{serialid,jdbcType=INTEGER},
      </if>
      <if test="serialname != null" >
        #{serialname,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="entityid != null" >
        #{entityid,jdbcType=INTEGER},
      </if>
      <if test="cangkusid != null" >
        #{cangkusid,jdbcType=INTEGER},
      </if>
      <if test="setype != null" >
        #{setype,jdbcType=VARCHAR},
      </if>
      <if test="ismakeup != null" >
        #{ismakeup,jdbcType=INTEGER},
      </if>
      <if test="smcreatorid != null" >
        #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmSerialnumbers" >
    update xm_serialnumbers
    <set >
      <if test="serialname != null" >
        serialname = #{serialname,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        productid = #{productid,jdbcType=INTEGER},
      </if>
      <if test="entityid != null" >
        entityid = #{entityid,jdbcType=INTEGER},
      </if>
      <if test="cangkusid != null" >
        cangkusid = #{cangkusid,jdbcType=INTEGER},
      </if>
      <if test="setype != null" >
        setype = #{setype,jdbcType=VARCHAR},
      </if>
      <if test="ismakeup != null" >
        ismakeup = #{ismakeup,jdbcType=INTEGER},
      </if>
      <if test="smcreatorid != null" >
        smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        createdtime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedby != null" >
        modifiedby = #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="modifiedtime != null" >
        modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where serialid = #{serialid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmSerialnumbers" >
    update xm_serialnumbers
    set serialname = #{serialname,jdbcType=VARCHAR},
      productid = #{productid,jdbcType=INTEGER},
      entityid = #{entityid,jdbcType=INTEGER},
      cangkusid = #{cangkusid,jdbcType=INTEGER},
      setype = #{setype,jdbcType=VARCHAR},
      ismakeup = #{ismakeup,jdbcType=INTEGER},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP}
    where serialid = #{serialid,jdbcType=INTEGER}
  </update>
  <select id="getTotal" resultType="Integer">
  	SELECT
		count(xm_serialnumbers.serialid) 
	FROM
		xm_serialnumbers
	INNER JOIN xm_products ON xm_products.productid = xm_serialnumbers.productid
	WHERE
		xm_products.deleted = 0;
  </select>
  <select id="loadList" resultType="map">
  	SELECT
		xm_serialnumbers.*, xm_products.productname,xm_cangkus.cangkuname cangku 
	FROM
		xm_serialnumbers
	INNER JOIN xm_products ON xm_products.productid = xm_serialnumbers.productid 
	left join xm_cangkus on xm_serialnumbers.cangkusid = xm_cangkus.cangkusid 
	WHERE
		xm_products.deleted = 0 ${order}
	limit #{start},#{rows} 		
  </select>
</mapper>