<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.settings.system.XmRelatedlistsMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmRelatedlists" >
    <id column="relation_id" property="relationId" jdbcType="INTEGER" />
    <result column="tabid" property="tabid" jdbcType="INTEGER" />
    <result column="related_tabid" property="relatedTabid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="presence" property="presence" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    relation_id, tabid, related_tabid, name, sequence, label, presence
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xm_relatedlists
    where relation_id = #{relationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_relatedlists
    where relation_id = #{relationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmRelatedlists" >
    insert into xm_relatedlists (relation_id, tabid, related_tabid, 
      name, sequence, label, 
      presence)
    values (#{relationId,jdbcType=INTEGER}, #{tabid,jdbcType=INTEGER}, #{relatedTabid,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, 
      #{presence,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmRelatedlists" >
    insert into xm_relatedlists
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="relationId != null" >
        relation_id,
      </if>
      <if test="tabid != null" >
        tabid,
      </if>
      <if test="relatedTabid != null" >
        related_tabid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="presence != null" >
        presence,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="relationId != null" >
        #{relationId,jdbcType=INTEGER},
      </if>
      <if test="tabid != null" >
        #{tabid,jdbcType=INTEGER},
      </if>
      <if test="relatedTabid != null" >
        #{relatedTabid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="presence != null" >
        #{presence,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmRelatedlists" >
    update xm_relatedlists
    <set >
      <if test="tabid != null" >
        tabid = #{tabid,jdbcType=INTEGER},
      </if>
      <if test="relatedTabid != null" >
        related_tabid = #{relatedTabid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="presence != null" >
        presence = #{presence,jdbcType=INTEGER},
      </if>
    </set>
    where relation_id = #{relationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmRelatedlists" >
    update xm_relatedlists
    set tabid = #{tabid,jdbcType=INTEGER},
      related_tabid = #{relatedTabid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      label = #{label,jdbcType=VARCHAR},
      presence = #{presence,jdbcType=INTEGER}
    where relation_id = #{relationId,jdbcType=INTEGER}
  </update>
  <select id="getRelatedByTabid" resultMap="BaseResultMap" >
  	select * from xm_relatedlists where tabid=#{tabid} order by sequence;
  </select>
  <select id="getRelatedlistByTabid" resultMap="BaseResultMap">
  	SELECT
		xm_relatedlists.*
	FROM
		xm_relatedlists 
	WHERE
		xm_relatedlists.tabid = #{tabid} 
	AND xm_relatedlists.presence = 0 
	ORDER BY 
		sequence;
  </select>
</mapper>