<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.settings.system.XmStep2usersMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmStep2users" >
    <result column="stepid" property="stepid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="alternate" property="alternate" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.crm.model.XmStep2users" >
    insert into xm_step2users (stepid, userid, alternate
      )
    values (#{stepid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{alternate,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmStep2users" >
    insert into xm_step2users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stepid != null" >
        stepid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="alternate != null" >
        alternate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stepid != null" >
        #{stepid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="alternate != null" >
        #{alternate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <delete id="deleteByStepId" parameterType="java.lang.Integer">
     delete from xm_step2users
     where stepid = #{stepid,jdbcType=INTEGER}
  </delete>
</mapper>