<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.marketing.mapper.XmCampaignMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmCampaign" >
    <id column="campaignid" property="campaignid" jdbcType="INTEGER" />
    <result column="campaignname" property="campaignname" jdbcType="VARCHAR" />
    <result column="campaigntype" property="campaigntype" jdbcType="VARCHAR" />
    <result column="campaignstatus" property="campaignstatus" jdbcType="VARCHAR" />
    <result column="expectedrevenue" property="expectedrevenue" jdbcType="DECIMAL" />
    <result column="budgetcost" property="budgetcost" jdbcType="DECIMAL" />
    <result column="actualcost" property="actualcost" jdbcType="DECIMAL" />
    <result column="expectedresponse" property="expectedresponse" jdbcType="VARCHAR" />
    <result column="numsent" property="numsent" jdbcType="DECIMAL" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="sponsor" property="sponsor" jdbcType="VARCHAR" />
    <result column="targetaudience" property="targetaudience" jdbcType="VARCHAR" />
    <result column="targetsize" property="targetsize" jdbcType="INTEGER" />
    <result column="expectedresponsecount" property="expectedresponsecount" jdbcType="INTEGER" />
    <result column="expectedsalescount" property="expectedsalescount" jdbcType="INTEGER" />
    <result column="expectedroi" property="expectedroi" jdbcType="DECIMAL" />
    <result column="actualresponsecount" property="actualresponsecount" jdbcType="INTEGER" />
    <result column="actualsalescount" property="actualsalescount" jdbcType="INTEGER" />
    <result column="actualroi" property="actualroi" jdbcType="DECIMAL" />
    <result column="closingdate" property="closingdate" jdbcType="DATE" />
    <result column="smcreatorid" property="smcreatorid" jdbcType="INTEGER" />
    <result column="smownerid" property="smownerid" jdbcType="INTEGER" />
    <result column="modifiedby" property="modifiedby" jdbcType="INTEGER" />
    <result column="groupid" property="groupid" jdbcType="INTEGER" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="modifiedtime" property="modifiedtime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="approved" property="approved" jdbcType="INTEGER" />
    <result column="approvedby" property="approvedby" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.crm.model.XmCampaign" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    campaignid, campaignname, campaigntype, campaignstatus, expectedrevenue, budgetcost, 
    actualcost, expectedresponse, numsent, product_id, sponsor, targetaudience, targetsize, 
    expectedresponsecount, expectedsalescount, expectedroi, actualresponsecount, actualsalescount, 
    actualroi, closingdate, smcreatorid, smownerid, modifiedby, groupid, createdtime, 
    modifiedtime, deleted, approved, approvedby
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xm_campaign
    where campaignid = #{campaignid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_campaign
    where campaignid = #{campaignid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmCampaign" >
    insert into xm_campaign (campaignid, campaignname, campaigntype, 
      campaignstatus, expectedrevenue, budgetcost, 
      actualcost, expectedresponse, numsent, 
      product_id, sponsor, targetaudience, 
      targetsize, expectedresponsecount, expectedsalescount, 
      expectedroi, actualresponsecount, actualsalescount, 
      actualroi, closingdate, smcreatorid, 
      smownerid, modifiedby, groupid, 
      createdtime, modifiedtime, deleted, 
      approved, approvedby, description
      )
    values (#{campaignid,jdbcType=INTEGER}, #{campaignname,jdbcType=VARCHAR}, #{campaigntype,jdbcType=VARCHAR}, 
      #{campaignstatus,jdbcType=VARCHAR}, #{expectedrevenue,jdbcType=DECIMAL}, #{budgetcost,jdbcType=DECIMAL}, 
      #{actualcost,jdbcType=DECIMAL}, #{expectedresponse,jdbcType=VARCHAR}, #{numsent,jdbcType=DECIMAL}, 
      #{productId,jdbcType=INTEGER}, #{sponsor,jdbcType=VARCHAR}, #{targetaudience,jdbcType=VARCHAR}, 
      #{targetsize,jdbcType=INTEGER}, #{expectedresponsecount,jdbcType=INTEGER}, #{expectedsalescount,jdbcType=INTEGER}, 
      #{expectedroi,jdbcType=DECIMAL}, #{actualresponsecount,jdbcType=INTEGER}, #{actualsalescount,jdbcType=INTEGER}, 
      #{actualroi,jdbcType=DECIMAL}, #{closingdate,jdbcType=DATE}, #{smcreatorid,jdbcType=INTEGER}, 
      #{smownerid,jdbcType=INTEGER}, #{modifiedby,jdbcType=INTEGER}, #{groupid,jdbcType=INTEGER}, 
      #{createdtime,jdbcType=TIMESTAMP}, #{modifiedtime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER}, 
      #{approved,jdbcType=INTEGER}, #{approvedby,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmCampaign" >
    insert into xm_campaign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="campaignid != null" >
        campaignid,
      </if>
      <if test="campaignname != null" >
        campaignname,
      </if>
      <if test="campaigntype != null" >
        campaigntype,
      </if>
      <if test="campaignstatus != null" >
        campaignstatus,
      </if>
      <if test="expectedrevenue != null" >
        expectedrevenue,
      </if>
      <if test="budgetcost != null" >
        budgetcost,
      </if>
      <if test="actualcost != null" >
        actualcost,
      </if>
      <if test="expectedresponse != null" >
        expectedresponse,
      </if>
      <if test="numsent != null" >
        numsent,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="sponsor != null" >
        sponsor,
      </if>
      <if test="targetaudience != null" >
        targetaudience,
      </if>
      <if test="targetsize != null" >
        targetsize,
      </if>
      <if test="expectedresponsecount != null" >
        expectedresponsecount,
      </if>
      <if test="expectedsalescount != null" >
        expectedsalescount,
      </if>
      <if test="expectedroi != null" >
        expectedroi,
      </if>
      <if test="actualresponsecount != null" >
        actualresponsecount,
      </if>
      <if test="actualsalescount != null" >
        actualsalescount,
      </if>
      <if test="actualroi != null" >
        actualroi,
      </if>
      <if test="closingdate != null" >
        closingdate,
      </if>
      <if test="smcreatorid != null" >
        smcreatorid,
      </if>
      <if test="smownerid != null" >
        smownerid,
      </if>
      <if test="modifiedby != null" >
        modifiedby,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="createdtime != null" >
        createdtime,
      </if>
      <if test="modifiedtime != null" >
        modifiedtime,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="approved != null" >
        approved,
      </if>
      <if test="approvedby != null" >
        approvedby,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="campaignid != null" >
        #{campaignid,jdbcType=INTEGER},
      </if>
      <if test="campaignname != null" >
        #{campaignname,jdbcType=VARCHAR},
      </if>
      <if test="campaigntype != null" >
        #{campaigntype,jdbcType=VARCHAR},
      </if>
      <if test="campaignstatus != null" >
        #{campaignstatus,jdbcType=VARCHAR},
      </if>
      <if test="expectedrevenue != null" >
        #{expectedrevenue,jdbcType=DECIMAL},
      </if>
      <if test="budgetcost != null" >
        #{budgetcost,jdbcType=DECIMAL},
      </if>
      <if test="actualcost != null" >
        #{actualcost,jdbcType=DECIMAL},
      </if>
      <if test="expectedresponse != null" >
        #{expectedresponse,jdbcType=VARCHAR},
      </if>
      <if test="numsent != null" >
        #{numsent,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="sponsor != null" >
        #{sponsor,jdbcType=VARCHAR},
      </if>
      <if test="targetaudience != null" >
        #{targetaudience,jdbcType=VARCHAR},
      </if>
      <if test="targetsize != null" >
        #{targetsize,jdbcType=INTEGER},
      </if>
      <if test="expectedresponsecount != null" >
        #{expectedresponsecount,jdbcType=INTEGER},
      </if>
      <if test="expectedsalescount != null" >
        #{expectedsalescount,jdbcType=INTEGER},
      </if>
      <if test="expectedroi != null" >
        #{expectedroi,jdbcType=DECIMAL},
      </if>
      <if test="actualresponsecount != null" >
        #{actualresponsecount,jdbcType=INTEGER},
      </if>
      <if test="actualsalescount != null" >
        #{actualsalescount,jdbcType=INTEGER},
      </if>
      <if test="actualroi != null" >
        #{actualroi,jdbcType=DECIMAL},
      </if>
      <if test="closingdate != null" >
        #{closingdate,jdbcType=DATE},
      </if>
      <if test="smcreatorid != null" >
        #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="smownerid != null" >
        #{smownerid,jdbcType=INTEGER},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="approved != null" >
        #{approved,jdbcType=INTEGER},
      </if>
      <if test="approvedby != null" >
        #{approvedby,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmCampaign" >
    update xm_campaign
    <set >
      <if test="campaignname != null" >
        campaignname = #{campaignname,jdbcType=VARCHAR},
      </if>
      <if test="campaigntype != null" >
        campaigntype = #{campaigntype,jdbcType=VARCHAR},
      </if>
      <if test="campaignstatus != null" >
        campaignstatus = #{campaignstatus,jdbcType=VARCHAR},
      </if>
      <if test="expectedrevenue != null" >
        expectedrevenue = #{expectedrevenue,jdbcType=DECIMAL},
      </if>
      <if test="budgetcost != null" >
        budgetcost = #{budgetcost,jdbcType=DECIMAL},
      </if>
      <if test="actualcost != null" >
        actualcost = #{actualcost,jdbcType=DECIMAL},
      </if>
      <if test="expectedresponse != null" >
        expectedresponse = #{expectedresponse,jdbcType=VARCHAR},
      </if>
      <if test="numsent != null" >
        numsent = #{numsent,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="sponsor != null" >
        sponsor = #{sponsor,jdbcType=VARCHAR},
      </if>
      <if test="targetaudience != null" >
        targetaudience = #{targetaudience,jdbcType=VARCHAR},
      </if>
      <if test="targetsize != null" >
        targetsize = #{targetsize,jdbcType=INTEGER},
      </if>
      <if test="expectedresponsecount != null" >
        expectedresponsecount = #{expectedresponsecount,jdbcType=INTEGER},
      </if>
      <if test="expectedsalescount != null" >
        expectedsalescount = #{expectedsalescount,jdbcType=INTEGER},
      </if>
      <if test="expectedroi != null" >
        expectedroi = #{expectedroi,jdbcType=DECIMAL},
      </if>
      <if test="actualresponsecount != null" >
        actualresponsecount = #{actualresponsecount,jdbcType=INTEGER},
      </if>
      <if test="actualsalescount != null" >
        actualsalescount = #{actualsalescount,jdbcType=INTEGER},
      </if>
      <if test="actualroi != null" >
        actualroi = #{actualroi,jdbcType=DECIMAL},
      </if>
      <if test="closingdate != null" >
        closingdate = #{closingdate,jdbcType=DATE},
      </if>
      <if test="smcreatorid != null" >
        smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="smownerid != null" >
        smownerid = #{smownerid,jdbcType=INTEGER},
      </if>
      <if test="modifiedby != null" >
        modifiedby = #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        createdtime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="approved != null" >
        approved = #{approved,jdbcType=INTEGER},
      </if>
      <if test="approvedby != null" >
        approvedby = #{approvedby,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where campaignid = #{campaignid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.crm.model.XmCampaign" >
    update xm_campaign
    set campaignname = #{campaignname,jdbcType=VARCHAR},
      campaigntype = #{campaigntype,jdbcType=VARCHAR},
      campaignstatus = #{campaignstatus,jdbcType=VARCHAR},
      expectedrevenue = #{expectedrevenue,jdbcType=DECIMAL},
      budgetcost = #{budgetcost,jdbcType=DECIMAL},
      actualcost = #{actualcost,jdbcType=DECIMAL},
      expectedresponse = #{expectedresponse,jdbcType=VARCHAR},
      numsent = #{numsent,jdbcType=DECIMAL},
      product_id = #{productId,jdbcType=INTEGER},
      sponsor = #{sponsor,jdbcType=VARCHAR},
      targetaudience = #{targetaudience,jdbcType=VARCHAR},
      targetsize = #{targetsize,jdbcType=INTEGER},
      expectedresponsecount = #{expectedresponsecount,jdbcType=INTEGER},
      expectedsalescount = #{expectedsalescount,jdbcType=INTEGER},
      expectedroi = #{expectedroi,jdbcType=DECIMAL},
      actualresponsecount = #{actualresponsecount,jdbcType=INTEGER},
      actualsalescount = #{actualsalescount,jdbcType=INTEGER},
      actualroi = #{actualroi,jdbcType=DECIMAL},
      closingdate = #{closingdate,jdbcType=DATE},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      smownerid = #{smownerid,jdbcType=INTEGER},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      approved = #{approved,jdbcType=INTEGER},
      approvedby = #{approvedby,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where campaignid = #{campaignid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmCampaign" >
    update xm_campaign
    set campaignname = #{campaignname,jdbcType=VARCHAR},
      campaigntype = #{campaigntype,jdbcType=VARCHAR},
      campaignstatus = #{campaignstatus,jdbcType=VARCHAR},
      expectedrevenue = #{expectedrevenue,jdbcType=DECIMAL},
      budgetcost = #{budgetcost,jdbcType=DECIMAL},
      actualcost = #{actualcost,jdbcType=DECIMAL},
      expectedresponse = #{expectedresponse,jdbcType=VARCHAR},
      numsent = #{numsent,jdbcType=DECIMAL},
      product_id = #{productId,jdbcType=INTEGER},
      sponsor = #{sponsor,jdbcType=VARCHAR},
      targetaudience = #{targetaudience,jdbcType=VARCHAR},
      targetsize = #{targetsize,jdbcType=INTEGER},
      expectedresponsecount = #{expectedresponsecount,jdbcType=INTEGER},
      expectedsalescount = #{expectedsalescount,jdbcType=INTEGER},
      expectedroi = #{expectedroi,jdbcType=DECIMAL},
      actualresponsecount = #{actualresponsecount,jdbcType=INTEGER},
      actualsalescount = #{actualsalescount,jdbcType=INTEGER},
      actualroi = #{actualroi,jdbcType=DECIMAL},
      closingdate = #{closingdate,jdbcType=DATE},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      smownerid = #{smownerid,jdbcType=INTEGER},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      approved = #{approved,jdbcType=INTEGER},
      approvedby = #{approvedby,jdbcType=INTEGER}
    where campaignid = #{campaignid,jdbcType=INTEGER}
  </update>
  <select id="getTotal" resultType="INTEGER" >
	${totalsql}
  </select>
  <select id="loadList" resultMap="BaseResultMap">
    ${listsql}
  </select>
  <select id="getTotalBySql" resultType="INTEGER">
  	${filter}
  </select>
  <select id="loadListBySql" resultType="map">
  	${filter}
  </select>
</mapper>