<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.XmEntitynameMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmEntityname" >
    <id column="tabid" property="tabid" jdbcType="INTEGER" />
    <result column="modulename" property="modulename" jdbcType="VARCHAR" />
    <result column="tablename" property="tablename" jdbcType="VARCHAR" />
    <result column="fieldname" property="fieldname" jdbcType="VARCHAR" />
    <result column="entityidfield" property="entityidfield" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tabid, modulename, tablename, fieldname, entityidfield
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xm_entityname
    where tabid = #{tabid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_entityname
    where tabid = #{tabid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmEntityname" >
    insert into xm_entityname (tabid, modulename, tablename, 
      fieldname, entityidfield)
    values (#{tabid,jdbcType=INTEGER}, #{modulename,jdbcType=VARCHAR}, #{tablename,jdbcType=VARCHAR}, 
      #{fieldname,jdbcType=VARCHAR}, #{entityidfield,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmEntityname" >
    insert into xm_entityname
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        tabid,
      </if>
      <if test="modulename != null" >
        modulename,
      </if>
      <if test="tablename != null" >
        tablename,
      </if>
      <if test="fieldname != null" >
        fieldname,
      </if>
      <if test="entityidfield != null" >
        entityidfield,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        #{tabid,jdbcType=INTEGER},
      </if>
      <if test="modulename != null" >
        #{modulename,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="fieldname != null" >
        #{fieldname,jdbcType=VARCHAR},
      </if>
      <if test="entityidfield != null" >
        #{entityidfield,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmEntityname" >
    update xm_entityname
    <set >
      <if test="modulename != null" >
        modulename = #{modulename,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        tablename = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="fieldname != null" >
        fieldname = #{fieldname,jdbcType=VARCHAR},
      </if>
      <if test="entityidfield != null" >
        entityidfield = #{entityidfield,jdbcType=VARCHAR},
      </if>
    </set>
    where tabid = #{tabid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmEntityname" >
    update xm_entityname
    set modulename = #{modulename,jdbcType=VARCHAR},
      tablename = #{tablename,jdbcType=VARCHAR},
      fieldname = #{fieldname,jdbcType=VARCHAR},
      entityidfield = #{entityidfield,jdbcType=VARCHAR}
    where tabid = #{tabid,jdbcType=INTEGER}
  </update>
  <select id="getEntityname" resultMap="BaseResultMap" >
  	select * from xm_entityname
  </select>
  <select id="getEntityByModule" resultMap="BaseResultMap">
  	select * from xm_entityname where modulename = #{module}
  </select>
  
  <select id="getEntityApprovelogName" resultType="String">
    select ${fieldsname} as entityname from ${tablename} where ${entityidfield}=#{crmid} 
  </select>
</mapper>