<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.XmSequenceMapper" >
	<select id="getSequenceId"  resultType="String">
		select id from xm_${table}_seq
	</select>
	<update id="updateSeq">
		INSERT INTO xm_${table}_seq (`id`) VALUES ('${seq}')
	</update>
	<select id="getMax" resultType="Integer">
		select coalesce(max(${key}),0) from ${tablename}
	</select>
	<select id="clearSeq">
		delete from xm_${tablename}_seq
	</select>
</mapper>