<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.potentials.mapper.XmQuotesMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmQuotes" >
    <id column="quoteid" property="quoteid" jdbcType="INTEGER" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="potentialid" property="potentialid" jdbcType="INTEGER" />
    <result column="quotestage" property="quotestage" jdbcType="VARCHAR" />
    <result column="validtill" property="validtill" jdbcType="DATE" />
    <result column="contactid" property="contactid" jdbcType="INTEGER" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="currency_rate" property="currencyRate" jdbcType="DECIMAL" />
    <result column="subtotal" property="subtotal" jdbcType="DECIMAL" />
    <result column="carrier" property="carrier" jdbcType="VARCHAR" />
    <result column="shipping" property="shipping" jdbcType="VARCHAR" />
    <result column="inventorymanager" property="inventorymanager" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="tax" property="tax" jdbcType="DECIMAL" />
    <result column="adjustment" property="adjustment" jdbcType="DECIMAL" />
    <result column="total" property="total" jdbcType="DECIMAL" />
    <result column="taxtype" property="taxtype" jdbcType="VARCHAR" />
    <result column="discount_percent" property="discountPercent" jdbcType="DECIMAL" />
    <result column="discount_amount" property="discountAmount" jdbcType="DECIMAL" />
    <result column="s_h_amount" property="sHAmount" jdbcType="DECIMAL" />
    <result column="accountid" property="accountid" jdbcType="INTEGER" />
    <result column="projectsid" property="projectsid" jdbcType="INTEGER" />
    <result column="smcreatorid" property="smcreatorid" jdbcType="INTEGER" />
    <result column="smownerid" property="smownerid" jdbcType="INTEGER" />
    <result column="modifiedby" property="modifiedby" jdbcType="INTEGER" />
    <result column="groupid" property="groupid" jdbcType="INTEGER" />
    <result column="createdtime" property="createdtime" jdbcType="TIMESTAMP" />
    <result column="modifiedtime" property="modifiedtime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="approved" property="approved" jdbcType="INTEGER" />
    <result column="approvedby" property="approvedby" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.crm.model.XmQuotes" extends="BaseResultMap" >
    <result column="terms_conditions" property="termsConditions" jdbcType="LONGVARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    quoteid, subject, potentialid, quotestage, validtill, contactid, currency, currency_rate, 
    subtotal, carrier, shipping, inventorymanager, type, tax, adjustment, total, taxtype, 
    discount_percent, discount_amount, s_h_amount, accountid, projectsid, smcreatorid, 
    smownerid, modifiedby, groupid, createdtime, modifiedtime, deleted, approved, approvedby
  </sql>
  <sql id="Blob_Column_List" >
    terms_conditions, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xm_quotes
    where quoteid = #{quoteid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_quotes
    where quoteid = #{quoteid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmQuotes" >
    insert into xm_quotes (quoteid, subject, potentialid, 
      quotestage, validtill, contactid, 
      currency, currency_rate, subtotal, 
      carrier, shipping, inventorymanager, 
      type, tax, adjustment, 
      total, taxtype, discount_percent, 
      discount_amount, s_h_amount, accountid, 
      projectsid, smcreatorid, smownerid, 
      modifiedby, groupid, createdtime, 
      modifiedtime, deleted, approved, 
      approvedby, terms_conditions, description
      )
    values (#{quoteid,jdbcType=INTEGER}, #{subject,jdbcType=VARCHAR}, #{potentialid,jdbcType=INTEGER}, 
      #{quotestage,jdbcType=VARCHAR}, #{validtill,jdbcType=DATE}, #{contactid,jdbcType=INTEGER}, 
      #{currency,jdbcType=VARCHAR}, #{currencyRate,jdbcType=DECIMAL}, #{subtotal,jdbcType=DECIMAL}, 
      #{carrier,jdbcType=VARCHAR}, #{shipping,jdbcType=VARCHAR}, #{inventorymanager,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{tax,jdbcType=DECIMAL}, #{adjustment,jdbcType=DECIMAL}, 
      #{total,jdbcType=DECIMAL}, #{taxtype,jdbcType=VARCHAR}, #{discountPercent,jdbcType=DECIMAL}, 
      #{discountAmount,jdbcType=DECIMAL}, #{sHAmount,jdbcType=DECIMAL}, #{accountid,jdbcType=INTEGER}, 
      #{projectsid,jdbcType=INTEGER}, #{smcreatorid,jdbcType=INTEGER}, #{smownerid,jdbcType=INTEGER}, 
      #{modifiedby,jdbcType=INTEGER}, #{groupid,jdbcType=INTEGER}, #{createdtime,jdbcType=TIMESTAMP}, 
      #{modifiedtime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER}, #{approved,jdbcType=INTEGER}, 
      #{approvedby,jdbcType=INTEGER}, #{termsConditions,jdbcType=LONGVARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmQuotes" >
    insert into xm_quotes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="quoteid != null" >
        quoteid,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="potentialid != null" >
        potentialid,
      </if>
      <if test="quotestage != null" >
        quotestage,
      </if>
      <if test="validtill != null" >
        validtill,
      </if>
      <if test="contactid != null" >
        contactid,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="currencyRate != null" >
        currency_rate,
      </if>
      <if test="subtotal != null" >
        subtotal,
      </if>
      <if test="carrier != null" >
        carrier,
      </if>
      <if test="shipping != null" >
        shipping,
      </if>
      <if test="inventorymanager != null" >
        inventorymanager,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="tax != null" >
        tax,
      </if>
      <if test="adjustment != null" >
        adjustment,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="taxtype != null" >
        taxtype,
      </if>
      <if test="discountPercent != null" >
        discount_percent,
      </if>
      <if test="discountAmount != null" >
        discount_amount,
      </if>
      <if test="sHAmount != null" >
        s_h_amount,
      </if>
      <if test="accountid != null" >
        accountid,
      </if>
      <if test="projectsid != null" >
        projectsid,
      </if>
      <if test="smcreatorid != null" >
        smcreatorid,
      </if>
      <if test="smownerid != null" >
        smownerid,
      </if>
      <if test="modifiedby != null" >
        modifiedby,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="createdtime != null" >
        createdtime,
      </if>
      <if test="modifiedtime != null" >
        modifiedtime,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="approved != null" >
        approved,
      </if>
      <if test="approvedby != null" >
        approvedby,
      </if>
      <if test="termsConditions != null" >
        terms_conditions,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="quoteid != null" >
        #{quoteid,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="potentialid != null" >
        #{potentialid,jdbcType=INTEGER},
      </if>
      <if test="quotestage != null" >
        #{quotestage,jdbcType=VARCHAR},
      </if>
      <if test="validtill != null" >
        #{validtill,jdbcType=DATE},
      </if>
      <if test="contactid != null" >
        #{contactid,jdbcType=INTEGER},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="currencyRate != null" >
        #{currencyRate,jdbcType=DECIMAL},
      </if>
      <if test="subtotal != null" >
        #{subtotal,jdbcType=DECIMAL},
      </if>
      <if test="carrier != null" >
        #{carrier,jdbcType=VARCHAR},
      </if>
      <if test="shipping != null" >
        #{shipping,jdbcType=VARCHAR},
      </if>
      <if test="inventorymanager != null" >
        #{inventorymanager,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="tax != null" >
        #{tax,jdbcType=DECIMAL},
      </if>
      <if test="adjustment != null" >
        #{adjustment,jdbcType=DECIMAL},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="taxtype != null" >
        #{taxtype,jdbcType=VARCHAR},
      </if>
      <if test="discountPercent != null" >
        #{discountPercent,jdbcType=DECIMAL},
      </if>
      <if test="discountAmount != null" >
        #{discountAmount,jdbcType=DECIMAL},
      </if>
      <if test="sHAmount != null" >
        #{sHAmount,jdbcType=DECIMAL},
      </if>
      <if test="accountid != null" >
        #{accountid,jdbcType=INTEGER},
      </if>
      <if test="projectsid != null" >
        #{projectsid,jdbcType=INTEGER},
      </if>
      <if test="smcreatorid != null" >
        #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="smownerid != null" >
        #{smownerid,jdbcType=INTEGER},
      </if>
      <if test="modifiedby != null" >
        #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="approved != null" >
        #{approved,jdbcType=INTEGER},
      </if>
      <if test="approvedby != null" >
        #{approvedby,jdbcType=INTEGER},
      </if>
      <if test="termsConditions != null" >
        #{termsConditions,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmQuotes" >
    update xm_quotes
    <set >
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="potentialid != null" >
        potentialid = #{potentialid,jdbcType=INTEGER},
      </if>
      <if test="quotestage != null" >
        quotestage = #{quotestage,jdbcType=VARCHAR},
      </if>
      <if test="validtill != null" >
        validtill = #{validtill,jdbcType=DATE},
      </if>
      <if test="contactid != null" >
        contactid = #{contactid,jdbcType=INTEGER},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="currencyRate != null" >
        currency_rate = #{currencyRate,jdbcType=DECIMAL},
      </if>
      <if test="subtotal != null" >
        subtotal = #{subtotal,jdbcType=DECIMAL},
      </if>
      <if test="carrier != null" >
        carrier = #{carrier,jdbcType=VARCHAR},
      </if>
      <if test="shipping != null" >
        shipping = #{shipping,jdbcType=VARCHAR},
      </if>
      <if test="inventorymanager != null" >
        inventorymanager = #{inventorymanager,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="tax != null" >
        tax = #{tax,jdbcType=DECIMAL},
      </if>
      <if test="adjustment != null" >
        adjustment = #{adjustment,jdbcType=DECIMAL},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="taxtype != null" >
        taxtype = #{taxtype,jdbcType=VARCHAR},
      </if>
      <if test="discountPercent != null" >
        discount_percent = #{discountPercent,jdbcType=DECIMAL},
      </if>
      <if test="discountAmount != null" >
        discount_amount = #{discountAmount,jdbcType=DECIMAL},
      </if>
      <if test="sHAmount != null" >
        s_h_amount = #{sHAmount,jdbcType=DECIMAL},
      </if>
      <if test="accountid != null" >
        accountid = #{accountid,jdbcType=INTEGER},
      </if>
      <if test="projectsid != null" >
        projectsid = #{projectsid,jdbcType=INTEGER},
      </if>
      <if test="smcreatorid != null" >
        smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      </if>
      <if test="smownerid != null" >
        smownerid = #{smownerid,jdbcType=INTEGER},
      </if>
      <if test="modifiedby != null" >
        modifiedby = #{modifiedby,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        createdtime = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedtime != null" >
        modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="approved != null" >
        approved = #{approved,jdbcType=INTEGER},
      </if>
      <if test="approvedby != null" >
        approvedby = #{approvedby,jdbcType=INTEGER},
      </if>
      <if test="termsConditions != null" >
        terms_conditions = #{termsConditions,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where quoteid = #{quoteid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.crm.model.XmQuotes" >
    update xm_quotes
    set subject = #{subject,jdbcType=VARCHAR},
      potentialid = #{potentialid,jdbcType=INTEGER},
      quotestage = #{quotestage,jdbcType=VARCHAR},
      validtill = #{validtill,jdbcType=DATE},
      contactid = #{contactid,jdbcType=INTEGER},
      currency = #{currency,jdbcType=VARCHAR},
      currency_rate = #{currencyRate,jdbcType=DECIMAL},
      subtotal = #{subtotal,jdbcType=DECIMAL},
      carrier = #{carrier,jdbcType=VARCHAR},
      shipping = #{shipping,jdbcType=VARCHAR},
      inventorymanager = #{inventorymanager,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      tax = #{tax,jdbcType=DECIMAL},
      adjustment = #{adjustment,jdbcType=DECIMAL},
      total = #{total,jdbcType=DECIMAL},
      taxtype = #{taxtype,jdbcType=VARCHAR},
      discount_percent = #{discountPercent,jdbcType=DECIMAL},
      discount_amount = #{discountAmount,jdbcType=DECIMAL},
      s_h_amount = #{sHAmount,jdbcType=DECIMAL},
      accountid = #{accountid,jdbcType=INTEGER},
      projectsid = #{projectsid,jdbcType=INTEGER},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      smownerid = #{smownerid,jdbcType=INTEGER},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      approved = #{approved,jdbcType=INTEGER},
      approvedby = #{approvedby,jdbcType=INTEGER},
      terms_conditions = #{termsConditions,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where quoteid = #{quoteid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmQuotes" >
    update xm_quotes
    set subject = #{subject,jdbcType=VARCHAR},
      potentialid = #{potentialid,jdbcType=INTEGER},
      quotestage = #{quotestage,jdbcType=VARCHAR},
      validtill = #{validtill,jdbcType=DATE},
      contactid = #{contactid,jdbcType=INTEGER},
      currency = #{currency,jdbcType=VARCHAR},
      currency_rate = #{currencyRate,jdbcType=DECIMAL},
      subtotal = #{subtotal,jdbcType=DECIMAL},
      carrier = #{carrier,jdbcType=VARCHAR},
      shipping = #{shipping,jdbcType=VARCHAR},
      inventorymanager = #{inventorymanager,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      tax = #{tax,jdbcType=DECIMAL},
      adjustment = #{adjustment,jdbcType=DECIMAL},
      total = #{total,jdbcType=DECIMAL},
      taxtype = #{taxtype,jdbcType=VARCHAR},
      discount_percent = #{discountPercent,jdbcType=DECIMAL},
      discount_amount = #{discountAmount,jdbcType=DECIMAL},
      s_h_amount = #{sHAmount,jdbcType=DECIMAL},
      accountid = #{accountid,jdbcType=INTEGER},
      projectsid = #{projectsid,jdbcType=INTEGER},
      smcreatorid = #{smcreatorid,jdbcType=INTEGER},
      smownerid = #{smownerid,jdbcType=INTEGER},
      modifiedby = #{modifiedby,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      createdtime = #{createdtime,jdbcType=TIMESTAMP},
      modifiedtime = #{modifiedtime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      approved = #{approved,jdbcType=INTEGER},
      approvedby = #{approvedby,jdbcType=INTEGER}
    where quoteid = #{quoteid,jdbcType=INTEGER}
  </update>
  <select id="getTotal" resultType="INTEGER" >
  	select count(*) count FROM xm_quotes LEFT OUTER JOIN xm_account ON xm_account.accountid = xm_quotes.accountid LEFT OUTER JOIN xm_potential ON xm_potential.potentialid = xm_quotes.potentialid LEFT JOIN xm_users ON xm_users.id = xm_quotes.smownerid WHERE 1=1 ${filter}
  </select>
  <select id="loadList" resultMap="BaseResultMap" >
  	select xm_quotes.* FROM xm_quotes LEFT OUTER JOIN xm_account ON xm_account.accountid = xm_quotes.accountid LEFT OUTER JOIN xm_potential ON xm_potential.potentialid = xm_quotes.potentialid LEFT JOIN xm_users ON xm_users.id = xm_quotes.smownerid WHERE 1=1 ${filter} limit #{start},#{rows}
  </select>
</mapper>