<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.settings.system.mapper.XmParenttabMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmParenttab" >
    <id column="parenttabid" property="parenttabid" jdbcType="INTEGER" />
    <result column="parenttab_label" property="parenttabLabel" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="visible" property="visible" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    parenttabid, parenttab_label, sequence, visible
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xm_parenttab
    where parenttabid = #{parenttabid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_parenttab
    where parenttabid = #{parenttabid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmParenttab" >
    insert into xm_parenttab (parenttabid, parenttab_label, sequence, 
      visible)
    values (#{parenttabid,jdbcType=INTEGER}, #{parenttabLabel,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}, 
      #{visible,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmParenttab" >
    insert into xm_parenttab
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parenttabid != null" >
        parenttabid,
      </if>
      <if test="parenttabLabel != null" >
        parenttab_label,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
      <if test="visible != null" >
        visible,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parenttabid != null" >
        #{parenttabid,jdbcType=INTEGER},
      </if>
      <if test="parenttabLabel != null" >
        #{parenttabLabel,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="visible != null" >
        #{visible,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmParenttab" >
    update xm_parenttab
    <set >
      <if test="parenttabLabel != null" >
        parenttab_label = #{parenttabLabel,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="visible != null" >
        visible = #{visible,jdbcType=INTEGER},
      </if>
    </set>
    where parenttabid = #{parenttabid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmParenttab" >
    update xm_parenttab
    set parenttab_label = #{parenttabLabel,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      visible = #{visible,jdbcType=INTEGER}
    where parenttabid = #{parenttabid,jdbcType=INTEGER}
  </update>
  <select id="getAll" resultMap="BaseResultMap">
  	select * from xm_parenttab order by sequence;
  </select>
</mapper>