<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.settings.basic.XmRole2profileMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmRole2profile" >
    <id column="profileid" property="profileid" jdbcType="INTEGER" />
    <id column="roleid" property="roleid" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from xm_role2profile
    where profileid = #{profileid,jdbcType=INTEGER}
      and roleid = #{roleid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmRole2profile" >
    insert into xm_role2profile (profileid, roleid)
    values (#{profileid,jdbcType=INTEGER}, #{roleid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmRole2profile" >
    insert into xm_role2profile
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="profileid != null" >
        profileid,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="profileid != null" >
        #{profileid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getProfileidByRoleId" resultType="Integer" >
  	select profileid from xm_role2profile where roleid=#{roleid}
  </select>
</mapper>