<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.settings.other.XmEmailtemplatesMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmEmailtemplates" >
    <id column="templateid" property="templateid" jdbcType="INTEGER" />
    <result column="foldername" property="foldername" jdbcType="VARCHAR" />
    <result column="templatename" property="templatename" jdbcType="VARCHAR" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.crm.model.XmEmailtemplates" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="body" property="body" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    templateid, foldername, templatename, subject, deleted
  </sql>
  <sql id="Blob_Column_List" >
    description, body
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xm_emailtemplates
    where templateid = #{templateid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_emailtemplates
    where templateid = #{templateid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmEmailtemplates" >
    insert into xm_emailtemplates (templateid, foldername, templatename, 
      subject, deleted, description, 
      body)
    values (#{templateid,jdbcType=INTEGER}, #{foldername,jdbcType=VARCHAR}, #{templatename,jdbcType=VARCHAR}, 
      #{subject,jdbcType=VARCHAR}, #{deleted,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR}, 
      #{body,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmEmailtemplates" >
    insert into xm_emailtemplates
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="templateid != null" >
        templateid,
      </if>
      <if test="foldername != null" >
        foldername,
      </if>
      <if test="templatename != null" >
        templatename,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="body != null" >
        body,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="templateid != null" >
        #{templateid,jdbcType=INTEGER},
      </if>
      <if test="foldername != null" >
        #{foldername,jdbcType=VARCHAR},
      </if>
      <if test="templatename != null" >
        #{templatename,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="body != null" >
        #{body,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmEmailtemplates" >
    update xm_emailtemplates
    <set >
      <if test="foldername != null" >
        foldername = #{foldername,jdbcType=VARCHAR},
      </if>
      <if test="templatename != null" >
        templatename = #{templatename,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="body != null" >
        body = #{body,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where templateid = #{templateid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.crm.model.XmEmailtemplates" >
    update xm_emailtemplates
    set foldername = #{foldername,jdbcType=VARCHAR},
      templatename = #{templatename,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR},
      body = #{body,jdbcType=LONGVARCHAR}
    where templateid = #{templateid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmEmailtemplates" >
    update xm_emailtemplates
    set foldername = #{foldername,jdbcType=VARCHAR},
      templatename = #{templatename,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER}
    where templateid = #{templateid,jdbcType=INTEGER}
  </update>
  <select id="getAll" resultMap="BaseResultMap">
  	select * from xm_emailtemplates order by templateid DESC;
  </select>
</mapper>