<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crm.mapper.settings.other.XmOrganizationdetailsMapper" >
  <resultMap id="BaseResultMap" type="com.crm.model.XmOrganizationdetails" >
    <id column="organizationname" property="organizationname" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="logoname" property="logoname" jdbcType="VARCHAR" />
    <result column="person" property="person" jdbcType="VARCHAR" />
    <result column="bankname" property="bankname" jdbcType="VARCHAR" />
    <result column="bankaccount" property="bankaccount" jdbcType="VARCHAR" />
    <result column="taxno" property="taxno" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.crm.model.XmOrganizationdetails" extends="BaseResultMap" >
    <result column="logo" property="logo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    organizationname, address, city, state, country, code, phone, fax, website, logoname, 
    person, bankname, bankaccount, taxno
  </sql>
  <sql id="Blob_Column_List" >
    logo
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xm_organizationdetails
    where organizationname = #{organizationname,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from xm_organizationdetails
    where organizationname = #{organizationname,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crm.model.XmOrganizationdetails" >
    insert into xm_organizationdetails (organizationname, address, city, 
      state, country, code, 
      phone, fax, website, 
      logoname, person, bankname, 
      bankaccount, taxno, logo
      )
    values (#{organizationname,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, 
      #{logoname,jdbcType=VARCHAR}, #{person,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR}, 
      #{bankaccount,jdbcType=VARCHAR}, #{taxno,jdbcType=VARCHAR}, #{logo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crm.model.XmOrganizationdetails" >
    insert into xm_organizationdetails
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="organizationname != null" >
        organizationname,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="website != null" >
        website,
      </if>
      <if test="logoname != null" >
        logoname,
      </if>
      <if test="person != null" >
        person,
      </if>
      <if test="bankname != null" >
        bankname,
      </if>
      <if test="bankaccount != null" >
        bankaccount,
      </if>
      <if test="taxno != null" >
        taxno,
      </if>
      <if test="logo != null" >
        logo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="organizationname != null" >
        #{organizationname,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="logoname != null" >
        #{logoname,jdbcType=VARCHAR},
      </if>
      <if test="person != null" >
        #{person,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null" >
        #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="taxno != null" >
        #{taxno,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.model.XmOrganizationdetails" >
    update xm_organizationdetails
    <set >
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="logoname != null" >
        logoname = #{logoname,jdbcType=VARCHAR},
      </if>
      <if test="person != null" >
        person = #{person,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        bankname = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null" >
        bankaccount = #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="taxno != null" >
        taxno = #{taxno,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where organizationname = #{organizationname,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.crm.model.XmOrganizationdetails" >
    update xm_organizationdetails
    set address = #{address,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      logoname = #{logoname,jdbcType=VARCHAR},
      person = #{person,jdbcType=VARCHAR},
      bankname = #{bankname,jdbcType=VARCHAR},
      bankaccount = #{bankaccount,jdbcType=VARCHAR},
      taxno = #{taxno,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=LONGVARCHAR}
    where organizationname = #{organizationname,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.model.XmOrganizationdetails" >
    update xm_organizationdetails
    set address = #{address,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      logoname = #{logoname,jdbcType=VARCHAR},
      person = #{person,jdbcType=VARCHAR},
      bankname = #{bankname,jdbcType=VARCHAR},
      bankaccount = #{bankaccount,jdbcType=VARCHAR},
      taxno = #{taxno,jdbcType=VARCHAR}
    where organizationname = #{organizationname,jdbcType=VARCHAR}
  </update>
  <select id="getDetails" resultMap="BaseResultMap" >
  	select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xm_organizationdetails
  </select>
  <update id="update" parameterType="com.crm.model.XmOrganizationdetails" >
  update xm_organizationdetails
    <set >
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="logoname != null" >
        logoname = #{logoname,jdbcType=VARCHAR},
      </if>
      <if test="person != null" >
        person = #{person,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        bankname = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null" >
        bankaccount = #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="taxno != null" >
        taxno = #{taxno,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=LONGVARCHAR},
      </if>
       <if test="organizationname != null" >
        organizationname = #{organizationname,jdbcType=VARCHAR}
      </if>
    </set>
  </update>
</mapper>