/*easyui*/
.panel-body{background:none; }
/*easyui*/
*{font-size:12px;font-family: Tahoma,'微软雅黑', "Microsoft Yahei", "Simsun";}
html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;min-width:1024px;}
body{margin:0px;padding:0px;overflow-x:hidden;}
body, input, button, select, textarea {
    font: 12px/1.5 Tahoma,'微软雅黑',"Microsoft Yahei", "Simsun";
}

/**
body, html {
  min-height:101%;
}
**/
select.default{width:160px;}

textarea{ resize: none;}
form{margin:0px;padding:0px;}
red{color:red;}
.red{color:red;}
.fr{float:right;}
.fl{float:left;}
.tac{text-align: center;}
.tar{text-align:right;}
a{cursor: pointer;text-decoration: none;color: #000;}
.a:link{color:#000;text-decoration: underline;}

.headerNav{background-position: 100% -50px;background-repeat: no-repeat;height: 30px;background: url("./images/header-bg.png") repeat-x scroll 0 0 transparent;}
.logo{float: left;text-indent: -1000px;width: 250px;background: url("./images/s-logo.png") no-repeat scroll 0 0 transparent;height:30px;}

.nav{float:right;list-style: none outside none;height:0px;}
.nav li{ float: left;line-height: 11px;margin-left: -1px;padding: 0 10px;position: relative;background:url("./images/listLine.png") no-repeat scroll 0 0 transparent;}
.nav li a{color:#33338C;}

.div_accordion ul{list-style: none outside none;margin:0px;padding:0px;}
.div_accordion ul li{height:25px;line-height:25px;padding-left:5px;}
.div_accordion li a{text-decoration: none;color:#000;}
.div_accordion li a:hover{text-decoration: underline;}

.tab_property{width:100%;text-align: left;margin-bottom: 10px;}
.tab_property thead{background-color:#E9F3F9;}
.tab_property td{height:25px;line-height:25px;padding-left:10px;}
.tab_property td.title{width:120px;}

table .tb_list{width:100%;text-align: left;}
table .tb_list td{height:25px;line-height:25px;font:12px/1.5 Tahoma,'Microsoft Yahei','Simsun';}
table .tb_list td.lefttd{width: 120px;text-align: right;}
table .tb_list td.righttd{padding-left:10px;}

.tb_list2 td{height:20px;line-height:20px;font:12px/1.5 Tahoma,'Microsoft Yahei','Simsun';}
.tb_list2 td.lefttd{width:100px;text-align: right;}

.body_panel{padding-right:15px;}
.hidden{display:none;}

.easyui-tree ul li a{text-decoration: none;color:#000;}
.p20{padding: 20px;}
.p10{padding:10px;}
.pl10{padding-left:10px;}
/*.bstyle{padding:10px; overflow: hidden;height: 98%;}*/
.bstyle{padding:10px;overflow-y:auto;position:relative;overflow-x:hidden;}
.pt_10{padding-bottom:10px;}
.bp{padding-right:15px;padding-top:10px;padding-left:10px;padding-bottom:10px;}
.mgb_10{margin-bottom: 10px;}
.mgt_10{margin-top: 10px;}
.mgl_10{margin-left: 10px;}
.mgb_5{margin-bottom:5px;}
.mg10{margin: 10px;}
.vleftipt{margin-left: 2px;}

.tab_form{width:100%;font:12px/1.5 Tahoma,'Microsoft Yahei','Simsun';}
.tab_form .edittd{width:110px;text-align: right;padding-right:10px;}
.tab_form .edittd2{width:200px;text-align: right;padding-right:10px;}
.tab_form .edittd3{text-align: right;padding-right:10px;}
.tab_form tr td{height:25px;line-height:25px;}
.tab_form input.text,.tab_form select.text{width:180px;margin-right: 10px;border:1px solid #D2D2D2;height: 20px;}
.tab_form input.text2,.tab_form select.text2{width:250px;border:1px solid #D2D2D2;height: 20px;}
.tab_form select.text2{height: 25px;}
.tab_form input.text3,.tab_form select.text3{width:90%;margin-right: 10px;border:1px solid #D2D2D2;height: 20px;}
.tab_form  textarea{width:90%;border:1px solid #D2D2D2;}
.tab_form .fullarea{border:1px solid #D2D2D2;height:200px;width:99%;}
.midtab{width:100%;font:12px/1.5 Tahoma,'Microsoft Yahei','Simsun';}
.midtab tr td{height:25px;text-align: left;line-height:25px;padding-left:10px;}

.tab_editlist{width:100%;font:12px/1.5 Tahoma,'Microsoft Yahei','Simsun';}
.tab_editlist textarea{width:90%;border:1px solid #D2D2D2;}
.tab_editlist input.text{width:250px;margin-right: 10px;border:1px solid #D2D2D2;height: 20px;}
.tab_editlist select.text{width:250px;margin-right: 10px;border:1px solid #D2D2D2;height: 25px;}
.tab_editlist .edittd{width:15%;}
.tab_editlist tr td{padding-left:10px;padding-right:10px;}
.tab_view{width:100%;border-collapse: collapse;}
.tab_view tr td{height:25px;line-height:25px;border:1px dotted #99BBE8;padding-left:10px;padding-right:10px;}
.tab_view .label{width:15%;background-color:#EFEFEF;}
.tab_view .info{width:30%;}
.tab_def{width:100%；}
.tab_def tr td{text-align: center;}

.tabview{width:100%;font:12px/1.5 Tahoma,'Microsoft Yahei','Simsun';border-collapse: collapse;}
.tabview .label{width:200px;text-align: right;padding-right:10px;background-color: #EFEFEF;}
.tabview td {border:1px dotted #AED0EA;height:25px;line-height:25px;padding-left:10px;}
.td_r td{text-align: right;padding:right:10px;}

.bbar{padding-top:5px;padding-bottom:5px;}
.textborder{border:1px solid #D2D2D2;}

.red{color: red;}
.green{color:green;}

.success{border:1px solid #FAD42E;height:25px;line-height:25px;padding:5px;padding-left:10px;background-color: #FBEC88;color:#9F5945;}
.bd{padding:10px;width:100%;height: 100%;display: compact;}

.container{padding-bottom: 10px;width: 100%;height:100%;display: block;}

.footercss{background:url("./images/footer_bg.gif") repeat-x scroll 0 0 transparent !important;}

/* customer view */
.list_view{
	color: #000000;
    font-family: Arial,Helvetica;
    font-size: 12px;
}
.cus_markhui {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 10pt;
}
a.cus_markhui:link {
    color: #000000;
    text-decoration: none;
}
/*-------------*/
.d_view,.d_bar{
    border-top:1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: none;
    background-color:#EFEFEF;
    padding:5px 0px 5px 5px;
}
.d_view{height:25px;line-height:25px;}
/*input.text{width:180px;margin-right: 10px;border:1px solid #D2D2D2;padding-left:3px;padding-right:3px;height:18px;}*/
.d_view input.text{width:160px;margin-right: 10px;border:1px solid #D2D2D2;padding-left:3px;padding-right:3px;height:18px;}
.d_view select.text{width:160px;margin-right: 10px;border:1px solid #D2D2D2;height:20px;}

.d_center{
	border:1px solid #CCCCCC;
}

.view_span{
	padding-top:2px;
	padding-bottom:2px;
}
.d_report{
	border-bottom:1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: none;
    background-color:#EFEFEF;
    height:30px;
    line-height: 30px;
    padding-left:5px;
}


.lvtColData {
    background-color: #FFFFFF;
}
.lvtColDataHover {
    background-color: #FEFF99;
}
.green{
color:green;	
}
.red{
color:red;
}
fieldset{border:1px solid #AED0EA;padding: 10px;}
fieldset legend{color:#15428B;}

.p_tip{font:12px/1.5 Tahoma,'Microsoft Yahei','Simsun';}
.red{color:red;}
.tab_center tbody tr td{text-align: center !important;}
.wtop{text-align: center;padding:5px;line-height: 20px;}
#div_foot{bottom:0px;height: 40px;clear:both;width:100%;}
#main {padding:0 15px 15px;min-height:500px;} /* 必须使用和footer相同的高度 */
.path{
    height: 30px;
    line-height: 30px;
    border-bottom:1px solid #767676;
    margin-bottom:10px;
    }
.path a {
    white-space: normal;
}
.div_stat{
	display: block;
	border:1px solid #CCCCCC;
	border-top:none;
	height: 30px;
    line-height: 30px;
	padding-bottom: 2px;
    padding-left: 30px;
    padding-top: 2px;
}
.reporttab{width:100%;border-collapse: collapse;}
.reporttab td,.reporttab th{border:1px solid #8DB2E3;height:25px;line-height:25px;text-align: center;}
.mb_10{margin-bottom:10px;}
.mr_5{margin-right:5px;}
.po{
  font-size: 15pt; 
  font-family: 黑体; 
  color: #999999
}


/*----显示区域---*/

.importBox {
    border: 1px solid #666666;
    font-family: Arial,Helvetica;
    font-size: 12px;
    width: 125px;
}
.txtBox {
    border: 1px solid #666666;
    font-family: Arial,Helvetica;
    font-size: 12px;
}
#picklist textarea {
    border: 1px solid #DADADA;
    height: 120px;
    width:240px;
}

#picklist .fldPickList {
    border: 1px solid #DADADA;
    height: 180px;
    width:240px;
}

.grayborder{border:1px solid #D2D2D2;}

.tabauth{width:100%;border-collapse: collapse;border:1px solid #AED0EA;}
.tabauth thead{}
.tabauth tr td{height: 26px;padding-left:10px;border: 1px dotted #AED0EA;}
.tabauth .mod{text-align: left;padding-left:10px;}

.must{color:red;margin-left:4px;}

/*----页面布局-----*/
.tab_field{width:100%;border-collapse: collapse;}
.tab_field tr td,.tab_field thead tr td{text-align: left;padding-left:10px;border: 1px dotted #AED0EA;}

/*系统设置的导航*/
.navcontainer{border:1px solid #99BBE8;margin-right: 10px;}
.rightfl{margin-left:10px;margin-right: 0px !important;}
.navcontainer .datagrid-toolbar{line-height:28px;padding-left:5px;}
.navcontainer ul{list-style: none;padding:5px;margin:0px;}
.navcontainer ul li{height:25px;line-height:25px;}
.navcontainer ul li.active{background-color:#FBEC88;}
.navcontainer ul li a{display: block;padding-left:10px;}
.navcontainer ul li a:link,.navcontainer ul li a:visited{
color:#000;
text-decoration:none;
}
.navcontainer ul li a:hover,.navcontainer ul li a:active{
color:#000;
background-color: #D0E5F5;
}

.navcontainer1{border:1px solid #99BBE8;margin-right: 10px;}
.rightfl{margin-left:10px;margin-right: 0px !important;}
.navcontainer1 .datagrid-toolbar{line-height:28px;padding-left:5px;}
.navcontainer1 ul{list-style: none;padding:5px;margin:0px;}
.navcontainer1 ul li{height:25px;line-height:25px;border-bottom: 1px dotted #AED0EA;}
.navcontainer1 ul li.active{background-color:#FBEC88;}
.navcontainer1 ul li a{display: block;padding-left:10px;}
.navcontainer1 ul li a:link,.navcontainer1 ul li a:visited{
color:#000;
text-decoration:none;
}
.navcontainer1 ul li a:hover,.navcontainer1 ul li a:active{
color:#000;
background-color: #D0E5F5;
}

.iconblock{
	padding-left:20px;
}

.small {
    color: #000000;
    font-family: Arial,Helvetica;
    font-size: 12px;
}

.dvInnerHeader {
    background: url("./images/settings/light-bg.png") repeat-x scroll center bottom #DDDCDD;
    border-color: #FFFFFF #FFFFFF #DDDDDD #DDDDDD;
    border-style: solid;
    border-width: 1px 0;
    color: #000000;
    padding: 12px;
}

.dvtCellLabel, .cellLabel {
    background-color: #EFEFF8;
    border-bottom: 1px solid #DEDEDE;
    border-top: 0 solid #DEDEDE;
    color: #545454;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
.pl_container{border:1px solid #99BBE8;}

/*查找用户*/
.searchuser{margin-top:4px;}
.searchuser.searchtext{width:100px;border:1px solid #D2D2D2;height:14px;line-height:14px;font-size:12px;float:right;height:14px !important;}
.searchuser .button{border:1px solid #AAAAAA;height:20px;line-height:20px;float:right;margin-right:10px;background: url("images/btn_bg.gif") repeat-x scroll left top transparent;}


.layerHeadingULine {
    border-bottom: 2px solid #717351;
}

.lvtCol {
    background: url("./images/settings/mailSubHeaderBg-grey.gif") repeat-x scroll center bottom #F6F6F6;
    border-color: #FFFFFF #FFFFFF #FFFFFF #DDDDDD;
    border-style: solid;
    border-width: 1px 0 0 1px;
    font-weight: bold;
}
.h10{height:10px;}

.listTable {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.tag ul {display: inline-table;list-style: none;margin:0px;padding:0px;}.tag ul li{float:left;margin-right:10px;padding:3px;background-color: #E4E4E4;border:1px solid #D2D2D2;}/*审批流程*/
.edit {
    background-color: green;
    background-image: url("./images/settings/system/themes/buttongreen.png");
    color: #FFFFFF;
    font-weight: bold;
}
.crmButton {
    border-color: #FFFFFF #555555 #555555 #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
}

.mini_delete{height:4px;padding:5px;cursor: pointer;display: none;}.dvtCellLabel, .cellLabel {
    background-color: #EFEFF8;
    border-bottom: 1px solid #DEDEDE;
    border-top: 0 solid #DEDEDE;
    color: #545454;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
.dvtCellInfo, .cellInfo {
    border-bottom: 1px solid #ECECEC;
    padding-left: 10px;
    padding-right: 10px;
}


.create {
    background-color: #5774B0;
    background-image: url("./images/settings/system/themes/toolbar-bg.png");
    color: #FFFFFF;
    font-weight: bold;
}
.crmButton {
    border-color: #FFFFFF #555555 #555555 #FFFFFF;
    border-style: solid;
    border-width: 1px;
}
.edit {
    background-color: green;
    background-image: url("./images/settings/system/themes/buttongreen.png");
    color: #FFFFFF;
    font-weight: bold;
}

.approvestep_tab{
	left: 182px;
    position: absolute;
    right: 17px;
}

#dept_system{
	border-collapse: collapse;
}

#dept_system td{
	border:1px solid #EFEFF8;
}

.def_div{padding-top:5px;padding-bottom:5px;height:25px;line-height:25px;}
.bggray{background-color: #EFEFEF;}
.plr_5{padding-right: 5px;padding-left: 5px;}

.tablist tr td {
	padding-left:5px;
    border: 1px dotted #CCCCCC;
    height: 25px;
}

.focus{cursor: pointer;}